@import '../node_modules/uswds/src/stylesheets/lib/addons/_font-stacks';
@import '../node_modules/uswds/src/stylesheets/lib/css3/_font-face';
@import '../node_modules/uswds/src/stylesheets/core/_fonts';
@import '../node_modules/uswds/src/stylesheets/core/_defaults';
@import '../node_modules/uswds/src/stylesheets/core/_base';

body {
    background-color: $color-gray-lighter;
}

.text-center {
    text-align: center;
}

/* override standards */
label {
    max-width: none !important;
}

p {
    max-width: none !important;
}

input {
    max-width: none !important;
}