@import 'variables';

ui-view {
	// add background gray for entire UI
	.usa-content {
		background-color:$color-gray-lightest;
	}
}

.text-center {
    text-align: center;
}

/* override standards */
label {
    max-width: none !important;
}

p {
    max-width: none !important;
}

input {
    max-width: none !important;
}