@import 'variables';

ui-view {
	// add background gray for entire UI
	.usa-content {
		background-color: $color-gray-lightest;
	}
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* override standards */
label {
    max-width: none !important;
}

p {
    max-width: none !important;
}

input {
    max-width: none !important;
}

.clear {
    clear: both;
    float: none;
}

a,
a:visited,
a:active
{
    text-decoration: none;
    color: $color-primary;
}

.no-select {
    -webkit-user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
     -khtml-user-select: none; /* webkit (konqueror) browsers */
       -moz-user-select: none; /* mozilla browsers */
        -ms-user-select: none; /* IE10+ */
}

.mobile-visible {
    display: none;
    visibility: hidden;
}

@media only screen and (max-width: 850px) {
    .mobile-visible {
        display: block !important;
        visibility: visible;
    }

    .mobile-hidden {
        display: none;
        visibility: hidden;
    }
}

:focus {
    outline: none;
}