@import 'variables';

// styling for top area of dashboard interface
.fr-dash-header {
 	background-color: $color-primary-darkest;

 	// white text above large metrics
 	.fr-dash-label {
	 	color:$color-white;
	 	line-height:4.4rem;
	 	font-size:1.8rem;
	 	background-color:#0d2747;
	 	max-width:none;
 	}

 	// large metrics row
 	.fr-large-metrics {
	 	height:29.4rem;
	 	color:$color-primary-alt;
	 	text-align:center;

	 	> div {
	 		// these are grid'd, but need to modify width / margin to show proper borders
		 	border-right:2px solid #0d2747;
		 	height:100%;
		 	width:33.33%;
		 	margin-right:0;
	 	}

	 	// remove border on last
	 	> div:last-child {
		 	border-right:none;
	 	}
	 	.fr-large-number {
	 		font-size:2.8rem;
	 		margin-top:12rem;
	 		strong {
		 		font-size:9.5rem;
	 		}
		}
		// large size metric icons
		.fr-metric-icon {
			position:absolute;
			top:-8rem;
			left:0;
			width:100%;
			height:8rem;
			background-size:contain;
			background-position:center center;
		}
 	}

 	// clean up spacing / line height for large numbers
 	.fr-large-number {
 		position:relative;
	 	margin:0;
	 	line-height:1;
 	}
 	// white colors for dashboard metrics, numbers only
 	.fr-large-number strong {
	 	color:$color-white;
 	}
 	// apply this class to a span or other to provide a 400 font weight
 	.fr-light-font {
	 	font-weight:$font-normal;
 	}
 	// label text for metric font sized shared
 	.fr-metric-label {
	 	display:block;
	 	font-size:1.8rem;
	 	padding-top:0.4rem;
 	}
}