@import 'variables';

// styling for top area of dashboard interface
.fr-dash-header {
 	background-color: $color-primary-darkest;

 	// large metrics row
 	.fr-large-metrics {
	 	height:376px;
	 	color:$color-primary-alt;
	 	text-align:center;

	 	> div {
	 		// these are grid'd, but need to modify width / margin to show proper borders
		 	border-right:2px solid #0d2747;
		 	height:100%;
		 	width:49.95%;
		 	margin-right:0;
	 	}

	 	// remove border on last
	 	> div:last-child {
		 	border-right:none;
	 	}
	 	.fr-large-number {
	 		font-size:28px;
	 		margin-top:170px;
	 		strong {
		 		font-size:100px;
	 		}
		}
 	}

 	// smaller metrics row
 	.fr-small-metrics {
	 	border-top:2px solid #0d2747;
	 	height:80px;
	 	color:$color-primary-alt;

	 	> div {
	 		// these are grid'd, but need to modify width / margin to show proper borders
		 	border-right:2px solid #0d2747;
		 	height:100%;
		 	width:33.3%;
		 	margin-right:0;
	 	}

	 	> div:last-child {
		 	border-right:none;
	 	}
	 	.fr-large-number {
	 		font-size:16px;
	 		margin-top:18px;
	 		strong {
	 			font-size:28px;
	 		}
		}
 	}
 	// clean up spacing / line height for large numbers
 	.fr-large-number {
	 	margin:0;
	 	line-height:1;
 	}
 	// white colors for dashboard metrics, numbers only
 	.fr-large-number strong {
	 	color:$color-white;
 	}
 	// apply this class to a span or other to provide a 400 font weight
 	.fr-light-font {
	 	font-weight:$font-normal;
 	}
}