@import 'variables';

// add some style for the "filter results by" label / rule
.fr-filter-label {
	height:118px;
	position:relative;

	.fr-filter-label-rule {
		position:absolute;
		top:50%;
		left:0;
		width:100%;
		height:2px;
		background-color:$color-gray-lighter;
	}
	.fr-filter-label-text {
		position:relative;
		display:inline-block;
		font-size:18px;
		line-height:118px;
		color:$color-gray;
		background-color:$color-white;
		padding:0 12px;
		font-weight:700;
	}
}

// style block of entity filters
// don't prefer table display style, but most reliable in this configuration
.fr-filters {
	display:table;
	width:100%;
	max-width:none;
	height:8.5rem;
	line-height:8.5rem;
	margin-bottom:1.8rem;

	.fr-filters-row {
		display:table-row;

		.usa-width-one-fourth {
			border-right:1px solid $color-white;
			display:table-cell;
		}
		.usa-width-one-fourth, .usa-width-one-fourth:nth-child(2n) {
			width:25%;
			margin-right:0;
		}
		.usa-width-one-fourth:last-child {
			border-right:none;
		}
        .selected {
            background-color:$color-primary;
            color:$color-white;
        }
	}
	// undid much of web standards to conform to design
	button {
		width:100%;
		height:8.5rem;
		border-radius:0;
		margin:0;
		padding:0;
		line-height:inherit;
		background-color:$color-gray-lighter;
		color:$color-gray;
		transition: background-color 0.2s, color 0.2s;

		// added span and tighter line height to preserve nice wrapping
		span {
			display:block;
			line-height:1.8rem;
			font-size:1.8rem
		}
	}
	// filter active / hover state alts
	button.active, button:hover {
		background-color:$color-primary;
	    color: #fff;
	}
}
.fr-post-filter-metrics {
	max-width:none;
	height:7.6rem;
	background-color:$color-primary-darkest;

	> div {
		position:relative;
	}
	// grid / list view controls
	.controls {
		position:absolute;
		top:0;
		right:0;
		height:7.6rem;
		width:3.8rem;
		border-left:3px solid $color-white;
		background-color:$color-gray-lighter;

		label {
			height:100%;
			width:100%;
			margin-top:0;
			cursor:pointer;
		}
		div {
			height:50%;
			text-align:center;
			font-size:2.2rem;
			padding-top:0.4rem;
		}
		.list-view, .grid-view {
			transition:background-color 0.3s, color 0.3s;
		}
		.ng-empty, .ng-not-empty:hover {
			~ .list-view {
				color:$color-gray;
				background-color:$color-gray-lighter;
			}
			~ .grid-view {
				color:$color-white;
				background-color: $color-primary;
			}
		}
		.ng-not-empty, .ng-empty:hover {
			~ .list-view {
				color:$color-white;
				background-color: $color-primary;
			}
			~ .grid-view {
				color:$color-gray;
				background-color:$color-gray-lighter;
			}
		}
	}	
}