@import 'variables';

grid,
.grid {
    .sidebar {
        float: left;
        width:27%;
		padding:6.8rem 2% 3rem;
		background-color:$color-gray-lightest;

		.grid-filter {
			background:none;
			padding:0;
		}
		.filter-header {
			font-size:1.6rem;
			font-weight:$font-bold;
		}
    }

    .grid-with-sidebar {
        float: right;
        width: 72.9%;

    }
    
    tile.expanded {
        display: inline-block;
        width: 100%;
    }
}
grid-search {
	input {
		font-size:1.4rem;
	}
}
.grid-with-sidebar grid-sort {
	background:none;
}
