@import 'variables';

grid-sort {
    display:inline-block;
    width:3rem;
}
.grid-sort-selected {
    color:#0070ba;
}
.grid-sort-header {
    font-size: 14px !important;
    font-weight:600;
}
.grid-sort-arrows {
    position:relative;
    display:inline-block;

    .fa-caret-up {
        display:block;
        position:relative;
        top:-4px;
    }
    .fa-caret-down {
        display:block;
        position:relative;
        bottom:-4px;
    }
}
