grid-total {
    color: #5b616b;
    font-size: 1.5rem;
    border-bottom:2px solid #d5d6d9;
    margin-top:10px;
    margin-bottom:10px;
    display:block;

    .count {
        font-weight: 700;
    }
}
