@import 'variables';

.grid {
    display:block;
	max-width:none;
	width:100%;
    background-color: $color-gray-lightest;

	.fr-grid-layout {
		display:table;
		width:100%;
		font-size:1.6rem;
		background-color:$color-white;

		.fr-grid-layout-row {
			display:table-row;
			
			> div {
				display:table-cell;
				vertical-align:middle;
			}
		}
	}
	// handle styling for grid view filters, need padding for positioning
	.fr-grid-header {
		font-size:1.4rem;
		height:4.4rem;
		line-height:4.4rem;

		.fr-grid-layout-row {
			> div {
				padding-top:2.3rem;
				vertical-align: top;
			}
			.fr-grid-cell-name {
				line-height:4.4rem;
			}
		}
	}
	// background handling for the filtering header
	.fr-grid-layout.fr-grid-header {
		white-space:nowrap;
		height:8.4rem;
		background:$color-gray-lightest;
	}
	// padding for text based columns
	// exxempt icon & metric cols
	.fr-grid-layout-row {
		> div {
			padding-left:2rem;
		}
		// name needs some extra padding
		> div:first-child {
			padding-left:2.8rem;
		}
		.fr-grid-cell-icon,
		.fr-grid-cell-metric {
		 	padding-left:0;
		 }
	}
	.fr-grid-cell-name {
		width:31%;
		line-height:1;
	}
	.fr-grid-cell-service {
		width:16%;
		> div {
			float:left;
			margin-right:1rem;
		}
	}
	.fr-grid-cell-deployment {
		width:20%;
	}
	.fr-grid-cell-impact {
		width:15%;
	}
	.fr-grid-cell-icon {
		width:10%;
	}
	.fr-grid-cell-metric {
		width:8%;
		text-align:center;
	}
}
.filter-dropdown {
    position:relative;
}
.filter-dropdown-panel {
	z-index:2000;
	position:absolute;
	width: 20rem;
	padding:1rem;
	height:20rem;
	overflow:auto;
	line-height: 2.2rem;
	background-color:white;
	border:1px solid black;
	left:-2rem;
}
