@import 'variables';

grid-filter {
    display:inline-block;
}

.grid-filter-expanded {
    display:block;
}
.grid-filter {
    cursor: pointer;
}
.filter-dropdown {
    position:relative;
}
.filter-dropdown-panel {
        z-index:2000;
        position:absolute;
        width: 200px;
        padding:10px;
        height:200px;
        overflow:auto;
        background-color:white;
        border:1px solid black;
        left:0px;
}
