@import 'variables';

.grid {
    .grid-with-sidebar {
        float: right;
        width: 77.4%;

        @media only screen and (max-width: 500px) {
            width: 100%;
        }

        grid-sort {
            background: none;

            @media only screen and (max-width: 500px) {
                display: none;
                visibility: hidden;
            }
        }

		.grid-sort-arrows {
		    .fa-caret-up, .fa-caret-down {
			    color: $color-primary;
		    }
		}
	}

    tile.expanded {
        display: inline-block;
        width: 100%;
    }

    min-height: 100rem;
}