@import 'variables';

grid-total {
    color:$color-gray;
    font-size: 1.3rem;
    border-bottom:2px solid $color-gray-lighter;
    margin-top:1.4rem;
    margin-bottom:1.3rem;
    display:block;

    .count {
        font-weight:$font-bold;
    }
}
