@import 'variables';

.grid {
    display:block;
	max-width:none;
	width:100%;
    background-color: $color-gray-lightest;

	.fr-grid-layout {
		display:table;
		width:100%;
		font-size:1.6rem;
		background-color:$color-white;

		.fr-grid-layout-row {
			display:table-row;
			
			> div {
				display:table-cell;
				vertical-align:middle;
			}
		}
	}
	// handle styling for grid view filters, need padding for positioning
	.fr-grid-header {
		font-size:1.4rem;
		height:4.4rem;
		line-height:4.4rem;

		.fr-grid-layout-row {
			> div {
				padding-top:2.3rem;
				vertical-align: top;
			}
			.fr-grid-cell-name {
				line-height:4.4rem;
			}
		}
	}
	// background handling for the filtering header
	.fr-grid-layout.fr-grid-header {
		white-space:nowrap;
		height:8.4rem;
		background:$color-gray-lightest;
	}
	// padding for text based columns
	// exxempt icon & metric cols
	.fr-grid-layout-row {
		> div {
			padding-left:2rem;
		}
		// name needs some extra padding
		> div:first-child {
			padding-left:2.8rem;
		}
		.fr-grid-cell-icon,
		.fr-grid-cell-metric {
		 	padding-left:0;
		 }
	}
	.fr-grid-cell-name {
		width:31%;
		line-height:1;
	}
	.fr-grid-cell-service {
		width:16%;
		> div {
			float:left;
			margin-right:1rem;
		}
	}
	.fr-grid-cell-deployment {
		width:20%;
	}
	.fr-grid-cell-impact {
		width:15%;
	}
	.fr-grid-cell-icon {
		width:10%;
	}
	.fr-grid-cell-metric {
		width:8%;
		text-align:center;
	}
}
grid-filter {
    display:inline-block;
    background-color:$color-gray-lighter;
    padding:0 1rem 0 2rem;
	color:$color-base;

    span.option {
        font-size: 0.8em;
        .fa-check-circle {
            color: #0070ba;
        }
    }
    span.option.selected {
        font-weight:600;
    }
}

.grid-filter-expanded {
    display:block;
    margin-top:12px;
    margin-bottom:12px;
    span.icons {
        float:right;
        font-size: 0.8em;
    }
    span.filter-header {
        font-weight: 600;
        font-size: 0.8em;
    }
    div.options {
        padding-left: 16px;
    }
}
.grid-filter {
    cursor: pointer;
}
.grid-filter.grid-filter-selected {
	background-color:$color-primary;
	span, i {
		color:$color-white;
	}
	.filter-dropdown-panel {
		span {
			color:$color-black;
		}
		i {
			color:$color-primary;
		}
	}
}
.filter-header {
    font-size: 14px !important;
    font-weight:600;
}

.filter-dropdown {
    position:relative;
}
.filter-dropdown-panel {
	z-index:2000;
	position:absolute;
	width: 20rem;
	padding:1rem;
	height:20rem;
	overflow:auto;
	line-height: 2.2rem;
	background-color:white;
	border:1px solid black;
	left:-2rem;
}
