@import 'variables';
@import '../node_modules/uswds/src/stylesheets/lib/addons/_font-stacks';
@import '../node_modules/uswds/src/stylesheets/lib/css3/_font-face';
@import '../node_modules/uswds/src/stylesheets/core/_fonts';
@import '../node_modules/uswds/src/stylesheets/core/_defaults';
@import '../node_modules/uswds/src/stylesheets/core/_base';

.comparison {
    display: inline-block;
    width: 100%;

	.first, .second {
        display: inline-block;
        width: 48.925%;
        background-color:$color-white;
        position:relative;
        z-index:100;
	}
    .first {
		float:left;
        margin-right:2%;
    }

    .second {
		.usa-grid {
	        background-color:$color-white;
		}
    }
	.second.comparison-list {
		background:none;
	}

    .close-both {
        position:absolute;
        width:99.8%;
        top:0;

        .row {
            position:relative;
            z-index: 110;
            margin:0 auto;
            width:12%;
        }
        .close {
            background-color:$color-gray-dark;
        }
    }
}

.comparison-list {
    .usa-grid {
	    padding-right:0;
    }
    .fr-filter-label {
	    height:7.6rem;

	    .fr-filter-label-text {
		    line-height:7.6rem;
			background-color:$color-gray-lightest;
	    }
    }
    .message {
        margin-bottom: 2em;

        hr {
            width: 20%;
            display: inline-block;
            border-top: 2px solid $color-gray-dark;
            margin-bottom: 3px;
        }

        hr.left {
            margin-right: 5px;
        }

        hr.right {
            margin-left: 5px;
        }

        span {
            font-size: smaller;
            font-weight: bolder;
            color: $color-gray-dark;
        }
    }
    tile {
	    .fr-grid-layout {
		    display:block;
		    min-height:20rem;

		    .fr-grid-layout-row {
			    position:relative;
			    display:block;
			    padding-left:3rem;
			    height:100%;
		
			    > div {
				    border:none;
			    }
				.fr-grid-cell-name {
					display:block;
					max-width:66%;
					width:auto;
					padding-left:0;
					padding-top:1.4rem;
					line-height:1.7rem;
					margin-bottom:3.5rem;
				}
				.fr-grid-cell-service, .fr-grid-cell-deployment, .fr-grid-cell-impact {
					display:block;
					float:left;
					width:30%;
					line-height:1.7rem;
					font-size:1.4rem;
				} 
			    .fr-grid-cell-icon {
				    position:absolute;
				    top:0;
				    right:10rem;
					width:11.5rem;
					height:10.1rem;
		            text-align: center;
		            padding-top: 2rem;
				}
			    .fr-grid-cell-metric {
				    position:absolute;
				    top:0;
				    right:0;
					width:9.5rem;
					height:10.1rem;
		            text-align: center;
		            padding-top:2.7rem;
		            background-color: $color-primary;
		            color: $color-white;
		            font-weight:$font-bold;
		            .text {
		                font-size: 1.3rem;
		                font-weight:$font-normal;
		            }
		            .number {
		                font-size: 2.6rem;
		                margin-bottom: -0.8rem;
		            }
			    }
		    }
	    }
	}
}

.information {
	font-size:1.6rem;
    .row {
        display: block;
        padding: 0.3em 0;
        h1, h2, h3, h4, h5, h6 {
	        font-family:$font-sans;
        }
        h4 {
            margin-top: 0;
            font-size:2rem;
        }
        h5 {
	        margin-top:0;
	        margin-bottom:0;
	        font-size:1.6rem;
        }
        p {
            margin-top:0;
            margin-bottom:1rem;
        }
    }
    .col {
        display: inline-block;
    }
    
    .close {
        background-color: $color-gray;
        cursor: pointer;

        .col {
            width: 100%;
        }

        a {
            color: $color-gray-light;
            font-size: smaller;
            text-align: center;
            text-decoration: none;

            i {
                font-size: 2em;
            }
        }
    }
    .close:hover {
        background-color:$color-gray-dark;
    }

    .header {
        border-top: none;
        padding-top: 0;
        margin-left:3rem;
        .logo {
	        margin-top:2.1rem;

            img {
                max-width: auto;
                max-height: 5.3rem;
            }
        }

        .title {
            font-weight: $font-bold;
            font-size: 1.8rem;
        }

        .reuse, .comparison-list tile .reuses {
            float: right;
            text-align: center;
            width: 9.5rem;
            height: 10.1rem;
            padding-top:2.7rem;
            background-color: $color-primary;
            color: $color-white;
            font-weight: bolder;

            .text {
                font-size: 1.3rem;
                font-weight:$font-normal;
            }

            .number {
                font-size: 2.6rem;
                margin-bottom: -0.8rem;
            }
        }
    }

    .status {
        padding: 2.5rem 0 1rem;
        text-align: center;
		border-top: 1px solid $color-gray-lightest;
		border-bottom: 1px solid $color-gray-lightest;

        .col {
            .text {
                font-size:1.2rem;
            }
        }
        
        .ready, .in-process, .compliant {
            width: 23%;

            img {
	            max-width:4rem;
	            max-height:4rem;
            }
        }
        .progress {
            height: 5px;
            background-color: $color-gray-light;
            width: 100%;
            
            .percent {
                height: 5px;
                background-color: $color-primary-darker;
            }

            .percent-30 {
                width: 30%;
            }

            .percent-50 {
                width: 50%;
            }

            .percent-100 {
                width: 100%;
            }
        }

        .message {
            width: 100%;
            color: $color-primary-darker;
            font-size: smaller;
        }
    }
    .system-profile, .fedramp, .agencies {
	    padding-left:2.8rem;
	}

    .system-profile {
	    margin-top:4rem;
	    padding-top:0;
		border-bottom:1px solid $color-gray-lightest;
        .contact-information {
            width: 50%;
            background-color: $color-cool-blue-lightest;
            color: $color-black;
            float: right;
            padding: 2rem;
           
            h5 {
                margin-top: 0;
            }
        }
    }

    .fedramp {
        dl {
            dt {
                float: left;
                font-weight: bolder;
                clear: left;
                display: inline-block;
            }

            dd {
                margin-left: 0;
            }
        }
        .col {
	        display:block;
			clear:both;
        }
    }

    .service-description {
        border-top: none;
        background-color: $color-gray-lightest;
        padding-left: 1em;
        padding-right: 1em;
        margin-left:2.8rem;
        margin-right:2.8rem;

        .col {
            width: 100%;

            h4 {
                display: inline;
            }
            
            i {
                float: right;
            }
        }
    }

    .providers,
    .products,
    .agencies,
    .assessors {
        border-top: none;
	    padding-left:2.8rem;
		border-bottom: 1px solid $color-gray-lightest;

        ul {
            margin-left: -5px;
            margin-top:0px;
            li {
                list-style: none;
            }

            li::before {
                content: '';
            }
        }
    }

    .accredited {
        color: $color-primary-darker;
        font-weight: bold;
    }
    .divider {
        background-color: $color-primary-darker;
        width:100%;
        height: 6px;
        margin-top:6rem;
        padding: 0;
    }
}

.information.assessor {
    .row {
        clear:both;
        .contact-information {
            background-color: $color-cool-blue-lightest;
            color: $color-black;
            padding: 2rem;
        }
        h5 {
            margin-top: 0;
        }
    }
    .service-description {
        margin-top:2em;
    }
}

.agency {
    .system-profile {
        margin-top:10rem;
        border-bottom:none;
    }
    .service-description {
        margin-top:4em;
    }
    .products {
        margin-top:2em;
    }
}
