#topnav {
    .limit {
        clear: both;
        width: 960px;
        margin: 0 auto;
        padding: 0;
        
        form {
            float: right;

            input {
                border: 1px solid #DADADA;
                color: #888;
                height: 25px;
                margin-top: 2px;
                outline: 0 none;
                padding: 3px 3px 3px 5px;
                width: 160px;
                font-size: 12px;
                line-height: 15px;
                box-shadow: inset 0 1px 4px #ECECEC;
                -moz-box-shadow: inset 0 1px 4px #ECECEC;
                -webkit-box-shadow: inset 0 1px 4px #ECECEC;
                border-radius: 0;
            }

            input[type="text"] {
                border: 1px solid #eeeeee;
                background: #fafafa;
                font-family: inherit;
                font-size: 16px;
                height: 2em;
                padding: 2%;
                margin: 16px 0 20px;
                width: 70%;
                display: block;
            }

            input[type="submit"] {
                font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
                width: 65px;
                height: 32px;
                padding: 0;
                font-size: 14px;
                color: #fff;
                text-align: center;
                text-shadow: 0 1px 2px rgba(0,0,0,0.25);
                background: #2980b9;
                border: 0;
                border-bottom: 2px solid #2475ab;
                cursor: pointer;
                -webkit-box-shadow: inset 0 -2px #2475ab;
                box-shadow: inset 0 -2px #2475ab;
            }
        }

        .nav {
            float: right;
            list-style: none;
            line-height: 1;
            margin: 0;
            padding: 0;
            display: inline;
            text-transform: uppercase;
            font-size: 12pt;
            font-weight: bold;
            font-family: Helvetica,Arial,sans-serif;

            li {
                list-style: none;
                float: left;
                width: auto;
                display: inline;

                a {
                    color: #274784;
                    font-size: 12px;
                    position: relative;
                    display: block;
                    z-index: 100;
                    padding: 0 10px;
                    line-height: 40px;
                    text-decoration: none;
                }
            }
        }

        .select-menu {
            display: none;
            visibility: hidden;
        }

        .sub-icons {
            float: right;
            margin: 0;
            padding: 0;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                display: inline;
                
                li {
                    list-style-type: none;
                    text-align: center;
                    display: inline;
                    float: left;

                    a {
                        padding: 0;
                        margin: 0;
                        display: block;
                        width: 40px;
                        height: 40px;
                        text-indent: -9999px;
                        background-position: 0px 0px;
                        background-repeat: no-repeat;
                        opacity: 0.7;
                    }

                    .subicon.rss {
                        background-image: url(images/rss.png);
                    }

                    .subicon.twitter {
                        background-image: url(images/twitter.png);
                    }

                }
            }
        }

        li::before {
            content: '';
        }
    }
}

#search {
    .article {
        .article-title {
        }
        .article-ext-type {
        }
        .article-url {
        }
        .article-description {
        }
        .article-site-links {
        }
    }
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
    margin: 0;
    padding: 0;
}