@import '../node_modules/uswds/src/stylesheets/lib/addons/_font-stacks';
@import '../node_modules/uswds/src/stylesheets/lib/css3/_font-face';
@import '../node_modules/uswds/src/stylesheets/core/_fonts';
@import '../node_modules/uswds/src/stylesheets/core/_defaults';
@import '../node_modules/uswds/src/stylesheets/core/_base';
@import 'variables';

tile:nth-child(2n) {
    .card {
		float:right;
		margin-right:0;
	}
}
.tile {
	.fr-grid-layout-row {
		> div {
			border-bottom: 1px solid $color-gray-lightest;
			border-right: 1px solid $color-gray-lightest;
		}
	}
    .row {
        display: block;
        width: 100%;
        clear: both;
    }

    .col {
    }

    .expanded {
        .row {
            height: 9.5rem;
            border-bottom: 1px solid $color-gray-lightest;
        }

        .col {
        }
    }
    .card {
        height:25rem;
        width:48.925%;
        margin-right:2%;
        float: left;
        background-color:$color-white;
    }
}
.tile,
.tile:hover,
.tile:visited {
    color: $color-black;
    text-decoration: none;
    cursor: pointer;
}

.provider.card {
    .row {
    }

    .col {
        width: 1/3 * 100%;
    }

    .header {
        height: 6em;

        .name {
            .logo {
                padding: 0.34em 0;

                img {
                    max-width: 100%;
                    max-height: 3em;
                }
            }
        }

        .reuses {
            float: right;
            text-align: center;
            width: 6em;
            height: 6em;
            padding-top: 1.5em;
            background-color: $color-primary;
            color: $color-white;
            font-weight: bolder;
            border-right: none;
            border-bottom: 1px solid $color-white;

            .text {
                font-size: smaller;
            }

            .number {
                font-size: 2.6rem;
                margin-bottom: -0.8rem;
            }
        }
    }

    .content {
        .col {
            width: 100%;
        }

        .title {
            /* padding-left: 0.34em; */
        }

        dl {
            font-size: smaller;
            
            dt {
                clear: left;
                font-weight: bold;
                display: inline-block;
                float: left;
            }

            dd {
                float: left;
                margin-left: 1em;
            }
        }
    }
}

.provider.expanded {
    .row {
    }

    .col {
        vertical-align: top;
        padding-top: 0.34em;
    }

    .name {
        .logo {
	        height:4.2rem;
	        width:15rem;
	        background-size:contain;
	        background-position:left center;
	        background-repeat:no-repeat;
			margin:0 0 0.5rem;
        }

        .title {
            text-overflow: ellipsis;
        }
    }

    .reuses {
        text-align: center;
        background-color: $color-primary;
        color: $color-white;
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid $color-white;

        .text {
            font-size: 1.3rem;
            font-weight:$font-normal;
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}

// establishing generic card styling for use across all entities
.card {
	padding-left:4.8rem;
	margin-bottom:2.7rem;

	.header {
		.name {
			display:inline-block;
			margin-top:2.3rem;
            .logo {
                img {
                    max-width: 100%;
                    max-height: 3em;
                }
            }
		}
		.reuses {
			float:right;
			width:9.5rem;
			height:10.1rem;
            background-color: $color-primary;
            color: $color-white;
            text-align:center;
            padding-top:2.7rem;

            .text {
                font-size: 1.3rem;
                font-weight:$font-normal;
            }

            .number {
                margin-bottom: -0.8rem;
                font-size: 2.6rem;
				font-weight:$font-bold;
            }
		}
		.status {
            float: right;
            text-align: center;
            width: 6em;
            height: 6em;

			img {
				max-width:4.5rem;
				margin-right:1rem;
				margin-top:2.3rem;
			}
		}
	}
    .content {

        .col {
            width: 100%;
        }

        .title {
            /* padding-left: 0.34em; */
        }

        dl {
            font-size: smaller;
            
            dt {
                clear: left;
                font-weight: bold;
                display: inline-block;
                float: left;
            }

            dd {
                float: left;
                margin-left: 1em;
            }
        }
    }
}

.product.expanded {

	.fr-grid-cell-name {}
    .name {
        
        .logo {
	        height:4.2rem;
	        width:15rem;
	        background-size:contain;
	        background-position:left center;
	        background-repeat:no-repeat;
			margin:0 0 0.5rem;
        }

        .title {
            text-overflow: ellipsis;
        }
    }

    .service-model {}

    .deployment-model {}

    .impact-level {}

    .status {
        text-align: center;
        
        img {
            max-width: 4.5rem;
            max-height: auto;
        }
    }

    .reuses {
        text-align: center;
        background-color: $color-primary;
        color: $color-white;
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid $color-white;

        .text {
            font-size: 1.3rem;
            font-weight:$font-normal;
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}

.agency.card {
    .row {
    }

    .col {
        width: 100%;
    }

    .header {
        height: 6em;

        .reuses {
            float: right;
            text-align: center;
            width: 6em;
            height: 6em;
            padding-top: 1.5em;
            background-color: $color-primary;
            color: $color-white;
            font-weight: bolder;
            border-right: none;
            border-bottom: 1px solid $color-white;

            .text {
	            font-size: 1.3rem;
	            font-weight:$font-normal;
            }

            .number {
                font-size: 2.6rem;
                margin-bottom: -0.8rem;
            }
        }
    }

    .content {
        .col {
            width: 100%;
        }

        .title {}

        dl {
            font-size: smaller;
            
            dt {
                clear: left;
                font-weight: bold;
                display: inline-block;
                float: left;
            }

            dd {
                float: left;
                margin-left: 1em;
            }
        }
    }
}

.agency.expanded {
    .row {
    }

    .col {
        width: 1 / 2 * 80%;
        vertical-align: top;
        padding-top: 0.34em;
    }

    .name {
    }

    .reuses {
        float: right;
        text-align: center;
        width: 6em;
        height: 6em;
        padding-top: 1.5em;
        background-color: $color-primary;
        color: $color-white;
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid $color-white;

        .text {
            font-size: 1.3rem;
            font-weight:$font-normal;
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}

.assessor.card {
    .row {
    }

    .col {
        width: 100%;
    }

    .header {
        height: 6em;

        .reuses {
            float: right;
            text-align: center;
            width: 6em;
            height: 6em;
            padding-top: 1.5em;
            background-color: $color-primary;
            color: $color-white;
            font-weight: bolder;
            border-right: none;
            border-bottom: 1px solid $color-white;

            .text {
	            font-size: 1.3rem;
	            font-weight:$font-normal;
            }

            .number {
                font-size: 2.6rem;
                margin-bottom: -0.8rem;
            }
        }
    }

    .content {
        .col {
            width: 100%;
        }

        .title {
            /* padding-left: 0.34em; */
        }

        dl {
            font-size: smaller;
            
            dt {
                clear: left;
                font-weight: bold;
                display: inline-block;
                float: left;
            }

            dd {
                float: left;
                margin-left: 1em;
            }
        }
    }
}

.assessor.expanded {
	font-size: 1.6rem;

	.fr-grid-cell-name {
		font-size: 1.8rem;
		padding-left: 2rem;
	}

    .name {
        .title {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .reuses {
        text-align: center;
        background-color: $color-primary;
        color: $color-white;
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid $color-white;

        .text {
            font-size: 1.3rem;
            font-weight:$font-normal;
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}
