<grid class="grid" raw-items="controller.assessors" on-update="controller.onUpdate(items)">
    <div ng-if="controller.sidebar" class="sidebar">
        <grid-search id="searchName" property="name" placeholder="Search by name"></grid-search>
        <grid-filter id="reuseRange" header="Reuse Range" expanded="true" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
        <grid-filter id="agencies" property="a in agencies" header="Agencies" expanded="true" class="grid-filter"></grid-filter>
        <grid-filter id="products" property="p in products" header="Products" expanded="true" class="grid-filter"></grid-filter>
        <grid-filter id="providers" property="p in providers" header="Providers" expanded="true" class="grid-filter"></grid-filter>
    </div>
    <div class="grid" ng-class="{'grid-with-sidebar': controller.sidebar === true}">
        <div class="fr-grid-layout fr-grid-header">
            <div class="fr-grid-layout-row">
                <div class="fr-grid-cell-name">
                    <span ng-if="controller.sidebar">Name</span>
                    <grid-filter ng-if="controller.sidebar == false" id="assessorName" property="name" header="Name" class="grid-filter"></grid-filter>
                    <grid-sort property="name" class="grid-sort"></grid-sort>    
                </div>
                <div class="fr-grid-cell-agency">
                    <span ng-if="controller.sidebar">Agencies</span>
                    <grid-filter ng-if="controller.sidebar == false" id="agencyNames" property="a in agencies" header="Agencies" class="grid-filter"></grid-filter>
                    <grid-sort property="agencies" class="grid-sort"></grid-sort>    
                </div>
                <div class="fr-grid-cell-product">
                    <span ng-if="controller.sidebar">Products</span>
                    <grid-filter ng-if="controller.sidebar == false" id="products" property="p in products" header="Products" class="grid-filter"></grid-filter>
                    <grid-sort property="products" class="grid-sort"></grid-sort>    
                </div>
                <div class="fr-grid-cell-provider">
                    <span ng-if="controller.sidebar">Providers</span>
                    <grid-filter ng-if="controller.sidebar == false" id="providers" property="p in providers" header="Providers" class="grid-filter"></grid-filter>
                    <grid-sort property="providers" class="grid-sort"></grid-sort>    
                </div>
                <div class="fr-grid-cell-metric">
                    <grid-sort property="reuses" header="Reuses" class="grid-sort" default="-true"></grid-sort>    
                </div>
            </div>
        </div>
        <tile class="row" ng-repeat="item in controller.filteredData track by $index" expand="homeController.expandTiles" model="item"/>
    </div>
</grid>

<div style="clear: both;">
    <download-csv content="controller.filteredData" ng-if="controller.filteredData" style="float: right;">
        <button>
            <span>Export to CSV</span>
            <i class="fa fa-download" aria-hidden="true" style="margin-left: 1rem;"></i>
        </button>
    </download-csv>

    <!-- TODO: Remove after testing -->
    <label style="float: right; margin-right: 1rem; margin-top: 2rem;">
        Show Sidebar
        <input type="checkbox" ng-model="controller.sidebar" />
    </label>
</div>
