<div class="usa-content">
    <div class="usa-grid">
        <div class="usa-width-one-third">
            <div class="circle">
                <p>
                    <strong style="font-size: larger;">${{homeController.totalCostSavings()}}</strong>
                    <div>Cost Savings</div>
                </p>
            </div>
        </div>
        <div class="usa-width-one-third">
            <div class="circle">
                <p>
                    <strong style="font-size: larger;">{{homeController.totalAuthorized()}}</strong>
                    <div>Total Authorized</div>
                </p>
            </div>
        </div>
        <div class="usa-width-one-third">
            <div class="circle">
                <p>
                    <strong style="font-size: larger;">{{homeController.leveragedAtos()}}</strong>
                    <div>Leveraged ATOs</div>
                </p>
            </div>
        </div>
    </div>
    <div style="text-align:center;margin-top:20px;margin-bottom:20px;"> Search by </div>
    <div ng-show="homeController.hasData()">
        <div class="filters usa-grid">
            <div class="usa-width-one-fourth">
                <button id="filterByCSP"
                        ng-click="homeController.toggleFilter('csp')">CSP
                </button>
            </div>
            <div class="usa-width-one-fourth">
                <button id="filterByCSO"
                        type="radio"
                        ui-sref="fedramp.home.products">
                        CSO
                </button>
            </div>
            <div class="usa-width-one-fourth">
                <button id="filterByAgency"
                        ng-click="homeController.toggleFilter('agency')">Agency
                </button>
            </div>
            <div class="usa-width-one-fourth">
                <button id="filterBy3PAO"
                        ng-click="homeController.toggleFilter('3pao')">3PAO
                </button>
            </div>
        </div>
        <div class="usa-grid" ng-show="!!homeController.filterType">
            <div style="text-align:center;" class="usa-width-one-whole">
                <div style="margin:0 auto;display:table;">
                    <label for="filter">Filter using:</label>
                    <select id="filter"
                            ng-model="homeController.filter"
                            ng-options="option for option in homeController.filterOptions"
                            ng-change="homeController.applyFilter()">
                        <option value=""></option>
                    </select>
                </div>
                <a href="{{homeController.downloadUrl}}"
                   download="{{homeController.filename()}}"
                   ng-click="homeController.download()">
                    Download
                </a>
            </div>
        </div>
        <div class="usa-grid">
            <div class="usa-width-one-third">&nbsp;</div>
            <div class="usa-width-one-twelfth">&nbsp;</div>
            <div class="usa-width-one-third">
                <label>
                    <input type="checkbox" ng-model="homeController.expandTiles" />
                    <p ng-if="homeController.expandTiles">View as tiles</p>
                    <p ng-if="!homeController.expandTiles">View as list</p>
                </label>
            </div>
        </div>
    </div>
</div>
<ui-view/>
