/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

ui-view {
    // add background gray for entire UI
    .usa-content {
        background-color: #f2f2f2;
    }
}

.text-center {
    text-align: center;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

/* override standards */
label {
    max-width: none !important;
}

p {
    max-width: none !important;
}

input {
    max-width: none !important;
}

.clear {
    clear: both;
    float: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
    color: color($theme-color-primary);
}

.no-select {
    -webkit-user-select: none;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -khtml-user-select: none;  /* webkit (konqueror) browsers */
    -moz-user-select: none;    /* mozilla browsers */
    -ms-user-select: none;     /* IE10+ */
}

.mobile-visible {
    display: none !important;
    visibility: hidden;
}

@media only screen and (max-width: 850px) {
    .mobile-visible {
        display: block !important;
        visibility: visible;
    }

    .mobile-hidden {
        display: none !important;
        visibility: hidden;
    }
}

:focus {
    outline: none;
}

.usa-disclaimer {
  padding-right: 3rem;
  padding-left: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: family('sans');
}

.usa-skipnav:focus {
    top: 20px;
}
