.fedramp-glance {
  padding: 3rem 2rem;
  float: left;
  width: 100%;
  background: white;
  border-bottom: 1px solid lightgrey;

  h2 {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: .02em;
    padding: 0 0 16px 0;
    margin: 0 0 6px 0;
    font-size: 2rem;
    line-height: 42px;
    color: $new-home-teal;
  }

  h3 {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1.25rem;
    color: #4C4C4E;
    font-weight: lighter;
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    li {
      list-style: none;
      width: 200px;
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      span {
      p {
        color: $teal;
        font-family: $base-font-family;
        font-weight: 700 !important;
        text-transform: uppercase;
        font-size: 1.375rem;
        text-align: center;
        margin: 20px 0 0 0;
        letter-spacing: .04em !important;
        &.number {
          color: $red;
          font-size: 6.25rem;
          font-weight: 800 !important;
          text-align: center;
          margin: 0;
          line-height: 1;
          letter-spacing: .04em !important;
          font-family: $title-font !important;
        }
      }
      }
    }
  }
}

/* Loading indicator for main app */
main#main {
  min-height: 70vh;
  background-image: url('../img/loading.gif');
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center center;
}
