@import 'styles';

.export {
    margin-top: 2rem;
    text-align: center;
    clear: both;

    download-csv {
        margin: 0 auto;
        display: table;
    }

}

.export.sticky-is-visible {
    left: initial !important;
}

download-csv {
    .fa-download {
        margin-left: 1rem;
    }
}
