@import 'styles';

// add some style for the "filter results by" label / rule
.fr-filter-label {
    height: 6.8rem;
    position: relative;

    .fr-filter-label-rule {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: color('gray-cool-10');
    }

    .fr-filter-label-text {
        position: relative;
        display: inline-block;
        font-size: 18px;
        line-height: 6.8rem;
        color: color('gray-cool-60');
        background-color: color('gray-cool-5');
        padding: 0 12px;
        font-weight: 700;
    }
}

// style block of entity filters
// don't prefer table display style, but most reliable in this configuration
.fr-filters {
    position: relative;
    display: table;
    width: 100%;
    max-width: none;
    height: 8.5rem;
    line-height: 8.5rem;
    margin-left: 0;

    .fr-filters-row {
        display: table-row;

        .usa-width-one-third {
            border-right: 1px solid color('white');
            display: table-cell;
        }

        .usa-width-one-third,
        .usa-width-one-third:nth-child(2n) {
            width: 33.33%;
            margin-right: 0;
        }

        .usa-width-one-third:last-child {
            border-right: none;
        }

        .selected {
            background-color: color($theme-color-primary);
            color: color('white');
            outline: none !important;
            box-shadow: none !important;
        }

        button:focus {
            background-color: color($theme-color-primary);
            color: color('white');
            outline: none !important;
            box-shadow: none !important;
        }
    }

    // undid much of web standards to conform to design
    button {
        width: 100%;
        height: 8.5rem;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 0;
        line-height: inherit;
        background-color: color('gray-cool-10');
        color: color('gray-cool-60');
        transition: background-color 0.2s, color 0.2s;

        // added span and tighter line height to preserve nice wrapping
        span {
            display: block;
            line-height: 1.8rem;
            font-size: 1.8rem;
            font-weight: $theme-font-weight-bold;
        }
    }

    // filter active / hover state alts
    button.active,
    button:hover {
        background-color: color($theme-color-primary);
        color: #fff;
        cursor: pointer;
    }
}
