.fr-selection {
  background-color: #f2f2f2;

  h2 {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-weight: 400;
    text-transform: none;
    letter-spacing: .02em;
    padding: 0 0 16px 0;
    margin: 0 0 6px 0;
    font-size: 2rem;
    line-height: 42px;
    color: $new-home-teal;
  }

  h3 {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1rem;
    color: #4C4C4E;
    font-weight: 600;
  }

  h4 {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-size: 1rem;
    color: #4C4C4E;
    font-weight: 600;
  }

  button {
    font-family: "Montserrat","Helvetica Neue","Helvetica","Roboto","Arial",sans-serif;
    font-weight: 600;
    outline: none;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: white;
    color: $new-home-teal;
    display: block;
    width: 100%;
    max-width: 400px;
    height: 36px;
    margin: auto;
    margin-top: 10px;

    @include at-media('tablet') {
      display: inline-block;
      width: 191px;
      margin: 0 15px;
    }
  }

  button.selected,
  button:hover {
    background-color: $new-home-teal;
    color: white;
  }
}
