.usa-footer {
    .usa-footer__primary-section {
        min-height: 35rem;
    }

    .usa-footer__nav {
        .usa-footer__primary-link {
            display: inline-block;
        }

        li {
            display: table-row;
            line-height: 2em;

            i {
                display: table-cell;
                width: 4rem;
                color: color('gray-cool-30');
            }

            p, span, a {
                display: table-cell;
            }
        }
    }

    h1 {
        font-size: 2rem;
    }
}
