grid-sort {
    display: inline-block;
    width: 100%;
    height: 2.6rem;
    background-color: color('gray-cool-10');
    transition: background-color 0.3s;
    text-align: center;
}

grid-sort:hover {
    color: color($theme-color-primary);
}

.fr-grid-cell-name grid-sort {
    text-align: left;
}

.sort-selected {
    color: color($theme-color-primary);
}

.grid-sort-header {
    font-size: .9rem;
    font-weight: 700;
    cursor: pointer;
}

.grid-sort-arrows {
    position: relative;
    display: inline-block;
    width: 1rem;
	text-align: center;
	cursor: pointer;

	i {
	    transition:color 0.3s;
	}

    .fa-caret-up, .fa-caret-down {
	    color: #fff;
        position: relative;
    }
}
