.clear-filters {
	display:block;
    font-weight: $theme-font-weight-bold;
    font-size: 1rem;
    color:color('gray-cool-60');
    cursor:pointer;
    margin-bottom: .8rem;
}
.clear-filters:hover {
    color: color($theme-color-primary);
}
