.grid {
    .empty-results {
        margin-top: 3rem;
        margin-left: 3rem;
    }

    .grid-with-sidebar {
        float: right;
        width: 77.4%;

        @media only screen and (max-width: 850px) {
            width: 100%;
        }

        grid-sort {
            background: none;

            @media only screen and (max-width: 850px) {
                display: none;
                visibility: hidden;
            }
        }

		.grid-sort-arrows {
		    .fa-caret-up, .fa-caret-down {
			    color: color($theme-color-primary);
		    }
		}
	}

    tile.expanded {
        display: inline-block;
        width: 100%;
    }

    min-height: 100rem;
}

.grid-wrap-background {
    width: 100%;
    background-color: #f2f2f2;
}

.grid-wrap {
    margin: 0 auto;
    max-width: 1200px;
}

.grid .fr-grid-layout.fr-grid-header .fr-grid-layout-row > div {
    padding-left: 0;
}

.grid .fr-grid-layout.fr-grid-header .fr-grid-layout-row > div:first-child {
    padding-left: 1.8rem;
}
