.grid {
    display: block;
    max-width: none;
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 2rem;

    .fr-grid-layout {
        display: table;
        width: 100%;
        font-size: .9rem;
        background-color: color('white');
        transition: background-color 0.19s;

        @media only screen and (max-width: 850px) {
            display: block;
            margin-top: 1.3rem;
        }

        &:hover {
            background-color: color('blue-warm-10');
        }

        .fr-grid-layout-row {
            display: table-row;

            @media only screen and (max-width: 850px) {
                display: inline-block;
                height: auto !important;
            }

            > div {
                display: table-cell;
                vertical-align: middle;

                @media only screen and (max-width: 850px) {
                    display: inline-block;
                }
            }
        }
    }

    // handle styling for grid view filters, need padding for positioning
    .fr-grid-header {
        font-size: .9rem;
        height: 2.6rem;
        line-height: 2.6rem;

        @media only screen and (max-width: 850px) {
            display: none;
        }

        .fr-grid-layout-row {
            > div {
                padding-top: 1.5rem;
                vertical-align: top;
            }

            .fr-grid-cell-name {
                line-height: 2.6rem;
            }
        }
    }

    // background handling for the filtering header
    .fr-grid-layout.fr-grid-header {
        height: 4.5rem;
        margin-top: 1rem;
        background: #f2f2f2;
        color: color('gray-cool-60');
        white-space: nowrap;
    }

    // padding for text based columns
    // exxempt icon & metric cols
    .fr-grid-layout-row {
        > div {
            padding-left: 1.3rem;

            @media only screen and (max-width: 850px) {
                padding-left: 1.9rem;
                padding-right: 1.9rem;
            }
        }

        // name needs some extra padding
        > div:first-child {
            padding-left: 1.8rem;

            @media only screen and (max-width: 850px) {
                padding-left: 1.9rem;
                padding-right: 1.9rem;
            }
        }

        .fr-grid-cell-icon,
        .fr-grid-cell-metric {
            padding-left: 0;

            @media only screen and (max-width: 850px) {
                padding-left: 1.9rem;
                padding-right: 1.9rem;
            }
        }
    }

    .fr-grid-cell-name {
        width: 35%;
        line-height: 1;

        @media only screen and (max-width: 850px) {
            width: 100%;
            padding-left: 1.9rem;
            padding-right: 1.9rem;

            .title {
                font-size: larger;
            }
        }
    }

    .fr-grid-cell-service {
        width: 15%;

        @media only screen and (max-width: 850px) {
            width: 100%;
            padding-left: 1.9rem;
            padding-right: 1.9rem;

            .mobile-visible {
                display: inline-block !important;
            }
        }

        > div {
            float: left;
            margin-right: .66rem;
        }
    }

    .fr-grid-cell-deployment {
        width: 20%;

        @media only screen and (max-width: 850px) {
            width: 100%;
            padding-left: 1.9rem;
            padding-right: 1.9rem;

            .mobile-visible {
                display: inline-block;
            }
        }
    }

    .fr-grid-cell-impact {
        width: 14%;

        @media only screen and (max-width: 850px) {
            width: 100%;

            .mobile-visible {
                display: inline-block !important;
            }
        }

        > div {
            float: left;
            margin-right: .66rem;
        }
    }

    .fr-grid-cell-icon {
        width: 12%;
        font-size: .79rem;

        @media only screen and (max-width: 850px) {
            float: left;
            width: 49%;
            padding-top: 1.9rem !important;
            margin-top: 1.3rem;
        }
    }

    .fr-grid-cell-metric {
        width: 8%;
        text-align: center;

        @media only screen and (max-width: 850px) {
            float: right;
            width: 49%;
            padding: 1.9rem 0 !important;
            margin-top: 1.3rem;
        }
    }

    .fr-grid-cell-metric .number {
        padding-bottom: units(1px);
    }

    .fr-grid-cell-contact {
        width: 33%;

        @media only screen and (max-width: 850px) {
            width: 100%;
        }
    }

    .agency,
    .assessor {
        .fr-grid-cell-metric {
            width: 7%;

            @media only screen and (max-width: 850px) {
                width: 100%;
                padding: 1.9rem 0 !important;
            }
        }
    }

    .options {
        .option:hover {
            color: color($theme-color-primary);
        }
    }

    .filter-header:hover {
        color: color($theme-color-primary);
    }
}
