@import 'styles';

grid-sort {
    display: inline-block;
    width: 3rem;
    height: 4.4rem;
    background-color: color('gray-cool-10');
    transition: background-color 0.3s;
}

grid-sort:hover {
    color: color($theme-color-primary);
}

.sort-selected {
    color: color($theme-color-primary);
}

.grid-sort-header {
    font-size: 1.4rem !important;
    font-weight: weight($theme-font-weight-normal);
    cursor: pointer;
}

.grid-sort-arrows {
    position: relative;
    display: inline-block;
    width: 3rem;
	text-align: center;
	cursor: pointer;

	i {
	    transition:color 0.3s;
	}

    .fa-caret-up, .fa-caret-down {
	    color: #fff;
        position: relative;
    }
}
