@import 'styles';

#topnav {
    #social {
        display: inline-block;
        float: right;
        text-transform: uppercase;
        font-size: units(2);
        font-weight: bold;

        @media only screen and (max-width: 850px) {
            clear: both;
            min-width: 20rem;
            padding-right: 3rem;
        }

        ul {
            overflow: hidden;
            margin: 0 auto;
            float: none;
            clear: both;
            padding: 0;
            list-style: none;

            @media only screen and (max-width: 850px) {
                margin: 0;
                width: 100%;
            }
        }

        li {
            width: auto;
            margin-top: 0.7rem;
            margin-bottom: 0;
            display: inline-block;

            @media only screen and (max-width: 850px) {
                display: inline-block;
            }
        }

        li::before {
            content: '';
        }

        li a {
            line-height: units(5);
            border-right: 1px solid #eee;
            border: 0 !important;
            color: #274784;
            position: relative;
            display: block;
            z-index: 100;
            padding: 0 units(2);
            text-decoration: none;
            font-weight: bold;

            i {
                color: color('gray-cool-30');
                font-size: units(2.5);
            }
        }
    }
}

.limit {
    clear: both;
    max-width: 960px;
    margin: 0 auto;
}

#header {
    clear: both;
    margin: units(3) auto 0;

    #sitetitle {
        margin: units(1) auto;
        text-align: left;

        img {
            max-width: 100%;
            height: auto;
        }

        @media only screen and (max-width: 850px) {
            padding-left: 0;
        }
    }

    #catnav {
        margin: 0 auto;
        float: none;
        clear: both;
        display: block;
        border-top: units(1px) dotted #ddd;
        background: #fafafa;
        font-size: size('sans', 'sm');
        font-weight: weight($theme-font-weight-normal);
        font-family: Calibri,Arial,sans-serif;
        text-transform: uppercase;

        #navigate {
            line-height: units(7);
            border: 0 !important;
            color: #274784;
            text-decoration: none;
            padding: 0 units(2.5);
        }

        ul {
            overflow: hidden;
            margin: 0 auto;
            float: none;
            clear: both;
            padding: 0;
            list-style: none;
            background: #fafafa;
            display: block;
            white-space: nowrap;

            @media only screen and (max-width: 850px) {
                margin: 0;
                width: 100%;
            }
        }

        li {
            width: auto;
            margin-bottom: 0;
            display: inline-block;

            @media only screen and (max-width: 850px) {
                display: block;
            }
        }

        li::before {
            content: '';
        }

        li a {
            line-height: units(7);
            border-right: units(1px) solid #eee;
            border: 0 !important;
            color: #274784;
            position: relative;
            display: block;
            z-index: 100;
            //! padding: 0 units(2.5);
            padding: 0 units(2);
            text-decoration: none;
        }

        li a.active {
            color: #268CBF;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            text-transform: none;
            width: 320px;
            max-width: 320px;
            color: black;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

            @media only screen and (max-width: 850px) {
                width: 100%;
                max-width: 100%;
                position: static;
            }
        }

        .dropdown-content .right {
            display: none;
            position: absolute;
            margin-left: 320px;
            margin-top: -40px;
            width: 320px;
            max-width: 320px;
            color: black;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        }

        .dropdown-content a {
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content,
        .dropdown:hover .dropdown-content li {
            display: block;
            z-index: 999;
            overflow: visible;

            .dropdown:hover .dropdown-content,
            .dropdown:hover .dropdown-content li {
                display: block;
                z-index: 999;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                width: 320px;
                max-width: 320px;
                width: 100%;
                color: black;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

                @media only screen and (max-width: 850px) {
                    position: static;
                }
            }

            @media only screen and (min-width: 851px) {
                .dropdown-content .right {
                    display: none;
                    position: absolute;
                    margin-left: 320px;
                    margin-top: -40px;
                    width: 320px;
                    max-width: 320px;
                    color: black;
                    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}
