@mixin background-image ($url) {
    background-image: url($url + '.png');
    background-image: url($url + '.svg');
    background-repeat: no-repeat;
}

.icon {
    width: 50px;
    height: auto;
}

.icon-cloud-compliant {
    @extend .icon;
    @include background-image('../img/fedramp-process-cloud-compliant');
}

.icon-cloud-in-process {
    @extend .icon;
    @include background-image('../img/fedramp-process-cloud-in-process');
}

.icon-compliant {
    @extend .icon;
    @include background-image('../img/fedramp-process-compliant-grey');
}

.icon-compliant.active {
    @extend .icon;
    @include background-image('../img/fedramp-process-compliant-blue');
}

.icon-in-process {
    @extend .icon;
    @include background-image('../img/fedramp-process-in-process-grey');
}

.icon-in-process.active {
    @extend .icon;
    @include background-image('../img/fedramp-process-in-process-blue');
}

.icon-ready {
    @extend .icon;
    @include background-image('../img/fedramp-process-ready-grey');
}
.icon-ready.active {
    @extend .icon;
    @include background-image('../img/fedramp-process-ready-blue');
}
// metric icons
.icon-cloud {
    @extend .icon;
    @include background-image('../img/fedramp-metric-cloud-icon');
}
.icon-cloud.active {
    @extend .icon;
    @include background-image('../img/fedramp-metric-cloud-icon');
}
.icon-compliant {
    @extend .icon;
    @include background-image('../img/fedramp-metric-compliant-icon');
}
.icon-compliant.active {
    @extend .icon;
    @include background-image('../img/fedramp-metric-compliant-icon');
}
.icon-reuse {
    @extend .icon;
    @include background-image('../img/fedramp-metric-reuse-icon');
}
.icon-reuse.active {
    @extend .icon;
    @include background-image('../img/fedramp-metric-reuse-icon');
}
// updated home page metric icons
// 2016-07-22
.icon-ready-light {
    @extend .icon;
    @include background-image('../img/fedramp-process-ready-light-blue');
}
.icon-in-process-light {
    @extend .icon;
    @include background-image('../img/fedramp-process-in-process-light-blue');
}
.icon-compliant-light {
    @extend .icon;
    @include background-image('../img/fedramp-process-compliant-light-blue');
}
