.comparison {
    display: inline-block;
    width: 100%;
    position:relative;
    z-index:10;

	.first, .second {
        display: inline-block;
        width: 48.925%;
        background-color: color('white');
        position: relative;
        z-index: 100;

        @media only screen and (max-width: 850px) {
            width: 100%;
        }
	}

    .first {
		float: left;
        margin-right: 2%;
    }

    .second {
		.usa-grid {
	        background-color: color('white');
		}
    }

	.second.comparison-list {
		background: none;
	}

    .close-both {
        position: absolute;
        width: 99.8%;
        top: 0;

        .row {
            position: relative;
            z-index: 110;
            margin: 0 auto;
            width: 12%;

            @media only screen and (max-width: 850px) {
                width: 100%;
            }
        }

        .close {
            background-color: color('gray-cool-70');
        }

        @media only screen and (max-width: 850px) {
            width: 100%;
            position: static;
        }
    }

    .contact-information {
        background-color: color('blue-warm-10');
    }
}

.comparison-list {
    .title {
        font-size: 1.19rem;
    }

    .detail {
        display: block;
        float: none !important;
    }

    .usa-grid {
	    padding-right: 0;
    }

    .fr-filter-label {
	    height: 5rem;

	    .fr-filter-label-text {
		    line-height: 5rem;
			background-color: color('gray-cool-5');
	    }
    }

    .message {
        margin-bottom: 1.3em;

        hr {
            width: 20%;
            display: inline-block;
            border-top: 2px solid color('gray-cool-70');
            margin-bottom: 3px;
        }

        hr.left {
            margin-right: 5px;
        }

        hr.right {
            margin-left: 5px;
        }

        span {
            font-size: smaller;
            font-weight: bolder;
            color: color('gray-cool-70');
        }
    }

    .tile {
        border-bottom: 1px solid color('gray-cool-5');
        background-color: #fff;

        .row.fr-grid-layout-row {
            border: none;
        }
    }

    tile {
	    .fr-grid-layout {
		    display: block;
		    min-height: 13.3rem;

		    .fr-grid-layout-row {
			    position: relative;
			    display: block;
			    padding-left: 1.99rem;
			    height: 100%;

			    > div {
				    border: none;
			    }

				.fr-grid-cell-name {
					display: block;
					max-width: 66%;
					width: auto;
					padding-left: 0;
					padding-top: .9rem;
					line-height: 1.13rem;
					margin-bottom: 2.3rem;
				}

				.fr-grid-cell-service, .fr-grid-cell-deployment, .fr-grid-cell-impact {
					display: block;
					float: left;
					width: 30%;
					line-height: 1.13rem;
					font-size: 0.9rem;
				}

			    .fr-grid-cell-icon {
				    position: absolute;
				    top: 0;
				    right: 6.6rem;
					width: 7.6rem;
					height: 7.6rem;
		            text-align: center;
		            padding-top: 1.3rem;
				}

			    .fr-grid-cell-metric {
				    position: absolute;
				    top: 0;
				    right: 0;
					width: 6.3rem;
					height: 6.7rem;
		            text-align: center;
		            padding-top: 1.7rem;
		            background-color: color($theme-color-primary);
		            color: color('white');
		            font-weight: weight($theme-font-weight-bold);

		            .text {
		                font-size: 0.8rem;
		                font-weight: weight($theme-font-weight-normal);
		            }

		            .number {
		                font-size: 1.7rem;
		                margin-bottom: -0.53rem;
		            }
			    }

                .fr-grid-cell-contact, .fr-grid-cell-service {
                    padding-left: 0px;
                }
		    }
	    }
	}
}

.information {
    font-size: 1.06rem;

    // h4, h5 {
    //     font-family: $theme-font-type-sans !important;
    // }

    .row {
        display: block;
        padding: 0.2em 0;

        h4 {
            margin-top: 0;
            font-size: 1.3rem;
        }

        h5 {
	        margin-top: 0;
	        margin-bottom: 0;
	        font-size: 1rem;
        }

        p {
            margin-top: 0;
            margin-bottom: 0.66rem;
        }
    }

    .col {
        display: inline-block;
    }

    .close {
        background-color: color('gray-cool-60');
        cursor: pointer;

        .col {
            width: 100%;
        }

        a {
            color: color('gray-cool-30');
            font-size: smaller;
            text-align: center;
            text-decoration: none;

            i {
                font-size: 1.3em;
            }
        }
    }

    .close:hover {
        background-color: color('gray-cool-70');
    }

    .header {
        border-top: none;
        padding-top: 0;
        margin-left: 1.9rem;

        .logo {
	        margin-top: 1.3rem;
            height: 3.5rem;

            img {
                max-width: auto;
                max-height: 3.5rem;
            }
        }

        .title {
            font-weight: weight($theme-font-weight-bold);
            font-size: 1.2rem;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .reuse, .comparison-list tile .reuses {
            float: right;
            text-align: center;
            width: 6.3rem;
            height: 6.7rem;
            padding-top: 1.7rem;
            background-color: color('primary');
            color: color('white');
            font-weight: bolder;

            .text {
                font-size: .8rem;
                font-weight: weight($theme-font-weight-normal);
            }

            .number {
                font-size: 1.7rem;
                margin-bottom: -0.5rem;
            }
        }
    }

    .status {
        padding: 1.6rem 0 .66rem;
        text-align: center;
		border-top: 1px solid color('gray-cool-5');
		border-bottom: 1px solid color('gray-cool-5');

        .col {
            .text {
                font-size: 0.7rem;
            }
        }

        .ready, .in-process, .compliant {
            width: 23%;
            opacity: 0.6;

            img {
	            max-width: 2.6rem;
	            max-height: 2.6rem;
            }
        }

        .active {
            opacity: 1;
        }

        .progress {
            height: 5px;
            background-color: color('gray-cool-30');
            width: 100%;

            .percent {
                height: 5px;
                background-color: color($theme-color-primary-dark);
            }

            .percent-30 {
                width: 30%;
            }

            .percent-50 {
                width: 50%;
            }

            .percent-100 {
                width: 100%;
            }
        }

        .message {
            width: 100%;
            color: color($theme-color-primary-dark);
            font-size: smaller;
        }
    }

    .system-profile, .fedramp, .agencies {
	    padding-left: 1.86rem;
	}

    .system-profile {
	    margin-top: 2.6rem;
	    padding-top: 0;
        margin-bottom: 2.6rem;
		border-bottom: 1px solid color('gray-cool-5');

        .contact-information {
            width:  50%;
            color: color('black');
            float: right;
            padding: 1.3rem;

            h5 {
                margin-top: 0;
            }

            dl {
                dt {
                    float: left;
                    font-weight: bolder;
                    clear: left;
                    display: inline-block;
                    padding-right: 0.5rem;
                }

                dd {
                    margin-left: 0;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }

    .reuse.mobile-visible {
        text-align: center;
        width: 100%;
        height: 6.7rem;
        padding-top: 1.7rem;
        background-color: color($theme-color-primary);
        color: color('white');
        font-weight: bolder;
        margin-top: -0.39em;
        margin-bottom: -0.39em;

        .text {
            font-size: 0.8rem;
            font-weight: weight($theme-font-weight-normal);
        }

        .number {
            font-size: 1.7rem;
            margin-bottom: -0.5rem;
        }
    }

    .fedramp {
        dl {
            dt {
                float: left;
                font-weight: bolder;
                clear: left;
                display: inline-block;
                padding-right: 0.5rem;
            }

            dd {
                margin-left: 0;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .col {
	        display: block;
			clear: both;
        }
    }

    .service-description {
        border-top: none;
        background-color: color('gray-cool-5');
        padding-left: .66em;
        padding-right: .66em;
        margin-left: 1.8rem;
        margin-right: 1.8rem;

        .col {
            width: 100%;

            h4 {
                display: inline;
            }

            i {
                float: right;
            }
        }
    }

    .providers,
    .products,
    .agencies,
    .assessors {
        border-top: none;
	    padding-left: 1.8rem;
		border-bottom: 1px solid color('gray-cool-5');

        ul {
            margin-left: -5px;
            margin-top: 0px;

            li {
                list-style: none;
            }

            li::before {
                content: '';
            }
        }
    }

    .accredited {
        color: color($theme-color-primary-dark);
        font-weight: bold;
    }

    .divider {
        background-color: color($theme-color-primary-dark);
        width: 100%;
        height: 6px;
        margin-top: 0;
        padding: 0;
    }

    .timeline {
        margin-bottom: 2.6rem;
        width: 100%;

        .timeline-row {
            display:table;
            width: 100%;

            .timeline-col.ready {
                background-color: color('gray-cool-30');
            }

            .timeline-col.inprocess {
                background-color: color('gray-cool-60');
            }

            .timeline-col.authorized {
                background-color: color('blue-warm-60');
            }

            .timeline-col.ready,
            .timeline-col.inprocess,
            .timeline-col.authorized {
                span {
                    font-size: 0.8rem;
                    font-weight: 600;
                    visibility: visible;
                }
                div {
                    font-size: 1.4rem;
                    font-weight: 600;
                    visibility: visible;
                }
            }

            .timeline-col {
                background-color: #e9ecf2;
                height: 105px;
                vertical-align: middle;
                display: table-cell;
                width: 33%;
                text-align: center;
                border-right: 1px solid #fff;
                color: #fff;

                span, div {
                    visibility: hidden;
                }
            }

            .timeline-col:first-child {
                border-left: 1px solid #fff;
            }

        }

        .estimated {
            background-color: color('blue-warm-10');
            height:44px;
            border-top:1px solid #fff;
            padding-top:12px;
        }
    }
}

.information.assessor {
    .row {
        clear: both;

        .remediation {
            width: 100%;

            .usa-alert {
                margin-top: 0;
            }
        }

        .contact-information {
            color: color('black');
            padding: 1.3rem;
            margin-bottom: 2.6rem;

            dl {
                dt {
                    float: left;
                    font-weight: bolder;
                    clear: left;
                    display: inline-block;
                    padding-right: 0.5rem;
                }

                dd {
                    margin-left: 0;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }

        h5 {
            margin-top: 0;
        }
    }

    .gutter {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
    }

    .provides-services {
        font-weight: bolder;

        .offered {
            color: color('green-cool-50v');
        }

        .not-offered {
            color: color($theme-color-secondary-dark);
        }
    }

    .not-accredited {
        background-color: color('gray-cool-30');
    }
}

.agency {
    .system-profile {
        margin-top: 6.6rem;
        border-bottom: none;
    }

    .service-description {
        margin-top: 2.6em;
    }

    .row {
        clear: both;

        .contact-information {
            color: color('black');
            padding: 1.3rem;
            margin-bottom: 2.6rem;

            dl {
                dt {
                    float: left;
                    font-weight: bolder;
                    clear: left;
                    display: inline-block;
                    padding-right: 0.5rem;
                }

                dd {
                    margin-left: 0;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}
