panel {
    display:block;
    .row.panel {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .panel:hover {
        background-color: color('gray-cool-10');
    }
    .panel {
        border-top: none;
        background-color: #f2f2f2;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 2.8rem;
        margin-right: 2.8rem;
        margin-bottom: 1rem;


        .header {
            display: table;
            width: 100%;
            margin: 0;
            padding-left: 2rem;
            cursor: pointer;
        }

        h4 {
            display: table-cell;
            width: 96%;
            margin:0 !important;
        }

        i {
            display: table-cell;
            padding-right: 1.6rem;
        }
    }

    .panel-content {
        border-top: none;
        padding-left: 1em;
        padding-right: 1em;
        margin-left: 2.8rem;
        margin-right: 2.8rem;
        margin-bottom: 1rem;
    }
}
