@import 'styles';

search {
    display: inline-block;
    float: right;
    margin-top: 0.75rem;
}

#topnav {
    padding: 12px 0 20px;

    .usa-search {
        float: right;

        input[type="search"] {
            width: 20rem;
        }
    }

    .nav {
        float: right;
        list-style: none;
        line-height: 1;
        margin: 0;
        padding: 0;
        display: inline;
        text-transform: uppercase;
        font-size: 12pt;
        font-weight: bold;
        font-family: Helvetica,Arial,sans-serif;

        li {
            list-style: none;
            float: left;
            width: auto;
            display: inline;

            a {
                color: #274784;
                font-size: 12px;
                position: relative;
                display: block;
                z-index: 100;
                padding: 0 10px;
                line-height: 40px;
                text-decoration: none;
            }
        }

        li::before {
            content: '';
        }
    }

    .select-menu {
        display: none;
        visibility: hidden;
    }
}

#search {
    .back {
        background-color: color($theme-color-primary);
        height: units(6);
        width: 100%;
        color: #fff;
        padding-top: units(1.5);
        margin: 0;
        font-size: size('sans', 'sm');

        h4 {
            cursor: pointer;
            color: #fff;
            font-size: size('sans', 'sm');

            i {
                padding-top: units(2px);
                position: relative;
                font-size: units(2);
                top: units(-2px);
                margin-right: units(1);
            }
        }

        .content {
            margin: 0 auto;
        }
    }

    #internal-only, #no-results {
        font-size: size('sans', 'sm');
    }

    .article {
        padding-bottom: units(4);

        .article-title, .article-url, .article-description, .article-site-links {
            font-size: size('sans', 'sm');
        }
        .article-title {
            font-size: size('sans', 'sm');
        }
        .article-ext-type {}
        .article-url {
            font-size: size('sans', 'sm');
        }
        .article-description {}
        .article-site-links {}
    }
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
    margin: 0;
    padding: 0;
}
