@import 'styles';

.sidebar {
    float: left;
    width: 21%;
	padding: 3.4rem 0 1.9rem 1.5rem;

    @media only screen and (max-width: 850px) {
        float: none;
        display: block;
        width: 100%;
        padding: 0 1.3rem;

        .filters-toggle {
            color: color('gray-cool-60');
            font-size: 1.13rem;
            font-weight: weight($theme-font-weight-bold);
            // filter results text - make this full width, have a cursor
            span {
	            display:block;
	            padding-top: 1.3rem;
				cursor:pointer;
				.fa {
					margin-left: 1.3rem;
				}
            }
        }
    }

	// each contain a set of content filters
	.grid-filter {
		background: none;
		margin: 1.5rem 0;
		padding: 0;
	    display: block;
	    cursor: pointer;
	    line-height: 1;

	    // filtering options
	    .option {
	        display: block;
	        margin: .8rem 0;
	        font-size: .9rem;
	        font-weight: weight($theme-font-weight-normal);

			// check for active filter
			.fa-check-circle {
	            color: #0070ba;
	            margin-left: 0.3rem;
	        }
	    }

		// sidebar filter active state
	    .selected {
		    font-weight: weight($theme-font-weight-bold);
	    }

		// indent filter child items
	    .options {
	        padding-left: .8rem;
			color: color('gray-cool-60');
	    }
	}

	.filter-header {
		font-size: 1rem;
		font-weight: weight($theme-font-weight-bold);
		transition: color 0.19s;
	}

	// controls a filter with active state
	.grid-filter-selected {
		// change header color to blue
		.filter-header {
		    color: color($theme-color-primary);
		}
	}

	// sidebar search control
	grid-search {
		margin: 1.13rem 0;

		// input field addition
		input {
            font-size: .9rem;
            width: 100%;
            padding: units(1.5);
		}
	}

	// hide display of total selected
	.filter-total {
		display: none;
	}

	// controls sidebar filter + detail icons
    .icons {
        float: right;
        font-size: 0.5em;
    }
}
