/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
*/

// -------------------------------------
// Import individual theme settings

@import "uswds-theme-general";
@import "uswds-theme-typography";
@import "uswds-theme-spacing";
@import "uswds-theme-color";
@import "uswds-theme-utilities";

// components import needs to be last
@import "uswds-theme-components";

// -------------------------------------
// Import individual USWDS packages...
// See https://designsystem.digital.gov/components/

// First import required and global packages...
// @import 'packages/required';
// @import 'packages/global';

// Then import individual component packages...
// @import 'packages/form-controls';
// @import 'packages/form-templates';
// @import 'packages/layout-grid';
// @import 'packages/typography';
// @import 'packages/validation';
// @import 'packages/usa-accordion';
// @import 'packages/usa-alert';
// @import 'packages/usa-banner';
// @import 'packages/usa-button';
// @import 'packages/usa-button-group';
// @import 'packages/usa-card';
// @import 'packages/usa-checklist';
// @import 'packages/usa-footer';
// @import 'packages/usa-header';
// @import 'packages/usa-hero';
// @import 'packages/usa-layout';
// @import 'packages/usa-media-block';
// @import 'packages/usa-megamenu';
// @import 'packages/usa-nav-container';
// @import 'packages/usa-nav';
// @import 'packages/usa-navbar';
// @import 'packages/usa-section';
// @import 'packages/usa-search';
// @import 'packages/usa-sidenav';
// @import 'packages/usa-skipnav';
// @import 'packages/usa-table';
// @import 'packages/usa-tag';
// @import 'packages/usa-banner';

// or package sets...
// @import 'packages/uswds-components';
// @import 'packages/uswds-utilities';

// -------------------------------------
// ...or import the complete USWDS kit

@import "uswds";

// -------------------------------------
// Import theme custom styles

@import "uswds-theme-custom-styles";

// -------------------------------------
// Custom variables pulled from new design of FedRAMP.gov
@charset "utf-8";

$base-font-family: 'Muli', sans-serif;
$sans-font:        'Muli', sans-serif;
$title-font:       'Montserrat', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
$serif-font:       'montserrat', 'Georgia', 'Cambria', 'Times New Roman', 'Times', serif;
// $base-font-size:   1.7rem;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;
$black: #212121;
$dark-blue: #162E51;
$light-blue: #1A4480;
$teal: #0A90B7;
$light-teal: #bde2f9;
$lighter-teal: #D9F1FD;
$red: #C71F25;
$dark-red: #A00A0F;
$dark-gray: #454545;
$intro-text: #4c4c4e;
$mid-gray: #757575;
$light-gray: #D0D0D0;
$lightest-gray: #f2f2f2;
$spacing-unit: 30px;
$dark-red: #970B22;
$darkest-blue: #131836;
$footer-teal: #D9F1FD;
$footer-lines: #384D6A;
$new-home-teal: #1889BC;
$theme-color-primary-vivid: #1889BC;

$background-color:         #ffffff;
$headers-color:            #205493;
$text-color:               #4c4c4e;
$reverse-text-color:       #ffffff;
$header-text-color:        #205493;

$link-color:               #1A4480;
$link-visited-color:       #CC1D1D;
$link-active-color:        #1A4480;
$link-hover-color:         #CC1D1D;

$button-color:             #112e51;
$button-hover-color:       #002E4D;
$button-text-color:        #fff;

$project-accent-color:     #02bfe7;
$card-heading-color:       #0071bc;

$banner-background-color:  #112e51;
$banner-text-color:        #fff;
$banner-button-color:      #112e51;
$banner-button-text-color: #fff;

$footer-primary-background-color:    #f1f1f1;
$footer-secondary-background-color:  #d6d7d9;
$footer-text-color:                  #4c4c4e;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
$tablet: 1024px;
$tablet-low: 768px;
$mobile-high: 667px;
$mobile-mid: 400px;
$desktop: 1200px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin clearfix {
  content: '';
  clear: both;
  display: table;
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

