@import 'styles';

tile:nth-child(2n) {
    .card {
		float: right;
		margin-right: 0;
	}
}

.tile {

	.fr-grid-layout-row {
        @media only screen and (max-width: 850px) {
            padding-top: 3rem;
        }

		> div {
			border-bottom: 1px solid color('gray-cool-5');
			border-right: 1px solid color('gray-cool-5');

            @media only screen and (max-width: 850px) {
                border: none;
            }
		}
	}

    .row {
        display: block;
        width: 100%;
        clear: both;
    }

    .expanded {
        .row {
            height: 9.5rem;
            border-bottom: 1px solid color('gray-cool-5');

            @media only screen and (max-width: 850px) {
                height: auto;
                border-bottom: none;
            }
        }
    }

    .no-logo {
        border: 1px solid color('gray-cool-5');
        height: 50px;
        width: 60px;
    }
}

.tile a,
.tile a:hover,
.tile a:visited {
    color: color('black');
    text-decoration: none;
    cursor: pointer;
}

.contact {
    a,
    a:hover,
    a:visited {
        color: color($theme-color-primary);
        text-decoration: none;
        cursor: pointer;
    }
}

.provider.expanded {
    .col {
        vertical-align: top;
        padding-top: 0.34em;
    }

    .name {
        .logo {
	        height: 4.2rem;
	        width: 15rem;
	        background-size: contain;
	        background-position: left center;
	        background-repeat: no-repeat;
			margin: 0 0 0.5rem;
        }

        .title {
            padding-top: 20px;
            text-overflow: ellipsis;
        }
    }

    .reuses {
        text-align: center;
        background-color: color($theme-color-primary);
        color: color('white');
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid color('white');

        .text {
            font-size: 1.3rem;
            font-weight: weight($theme-font-weight-normal);
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}

.product.expanded,
.agency.expanded,
.assessor.expanded {
    .name {
        padding-top: 16px;
        padding-bottom: 16px;

        .logo {
	        height: 4.2rem;
	        width: 15rem;
	        background-size: contain;
	        background-position: left center;
	        background-repeat: no-repeat;
			margin: 0 0 0.5rem;
        }

        .title {
            text-overflow: ellipsis;
            padding-top: 5px;
        }
    }

    .status {
        text-align: center;

        img {
            max-width: 4.5rem;
            max-height: auto;
        }

        span {
            display: block;
        }
    }

    .contact {
        dl {
            dt {
                float: left;
                font-weight: bolder;
                clear: left;
                display: inline-block;
                padding-right: 0.8rem;
            }

            dd {
                margin-left: 0;
            }
        }
    }

    .reuses {
        text-align: center;
        background-color: color($theme-color-primary);
        color: color('white');
        font-weight: bolder;
        border-right: none;
        border-bottom: 1px solid color('white');

        .text {
            font-size: 1.3rem;
            font-weight: weight($theme-font-weight-normal);
            //padding: 0 2rem;
            display: inline-block;
            width: 9rem;
        }

        .number {
            font-size: 2.6rem;
            margin-bottom: -0.8rem;
        }
    }
}
