<div id="topnav" class="hidden-print">
    <div class="limit clearfix">
        <!-- SEARCH FORM -->
        <search></search>

        <div id="social">
            <!-- SOCIAL NAVIGATION -->
            <ul class="contact-us">
                <li>
                    <a title="Subscribe via RSS Feed" href="https://www.fedramp.gov/feed/"><i class="fa fa-rss"></i></a>
                </li>
                <li>
                    <a rel="external" title="Follow @FedRAMP on Twitter" href="http://www.twitter.com/FedRAMP" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.fedramp.gov/contact-us/" title="Contact Us">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="header" class="clearfix">
    <div id="head-content" class="limit clearfix">
        <!-- SITE-TITLE/LOGO -->
        <div id="sitetitle">
            <a href="https://www.fedramp.gov" title="FedRAMP"><img src="https://fedramp.sites.usa.gov/files/2015/02/logo3.png" alt="FedRAMP"></a>
        </div>
        
    </div>

    <!-- SECONDARY NAVIGATION -->
    <navigation></navigation>
</div>
<a id="scrollToContent"></a>
<ui-view></ui-view>
<footer class="usa-footer usa-footer-big usa-sans hidden-print" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top hidden">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer-primary-section">
        <div class="usa-grid-full">
            <nav class="usa-footer-nav usa-width-one-whole">
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Contact Information</h1>
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>FedRAMP PMO</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:info@fedramp.gov">Email</a>
                    </li>
                    <li>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <p>General Services Administration<br />
                        1800 F Street, Washington, DC 20006</p>
                    </li>
                </ul>
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Follow @FedRAMP on Twitter</h1>
                    </li>
                    <li>
                        <twitter>
                            <a class="twitter-timeline" href="https://twitter.com/FedRAMP" data-tweet-limit="1">Tweets by @FedRAMP</a>
                        </twitter>
                    </li>
                </ul>
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Subscribe to Updates</h1>
                    </li>
                    <li><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/topics?qsp=USGSA_2224">Add your email to FedRAMP's subscriber list.</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
