<div id="topnav" class="hidden-print">
    <div class="limit clearfix">
        <!-- SEARCH FORM -->
        <search />

        <!-- PRIMARY NAVIGATION -->
        <ul class="nav sf-js-enabled">
            <li id="menu-item-11972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11972 first-child last-child">
                <a href="https://www.fedramp.gov/contact-us/">Contact Us</a>
            </li>
        </ul>
        <select title="Top navigation menu" class="select-menu">
            <option value="#" selected>Navigate to ...</option>
            <option value="https://www.fedramp.gov/contact-us/">&nbsp;Contact Us</option>
        </select>

        <!-- SOCIAL MEDIA ICONS -->
        <div class="sub-icons">
            <ul class="clearfix">
                <li class="first-child">
                    <a class="subicon rss" title="Subscribe via RSS Feed" href="https://www.fedramp.gov/feed/">RSS Feed</a>
                </li>
                <li class="last-child">
                    <a class="subicon twitter" rel="external" title="Follow @FedRAMP on Twitter" href="http://www.twitter.com/FedRAMP" target="_blank">Twitter</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="header" class="clearfix">
    <div id="head-content" class="clearfix">
        <!-- SITE-TITLE/LOGO -->
        <div id="sitetitle">
            <a href="https://www.fedramp.gov" title="FedRAMP"><img src="https://fedramp.sites.usa.gov/files/2015/02/logo3.png" alt="FedRAMP"></a>
        </div>
        
        <!-- SECONDARY NAVIGATION -->
        <navigation />
    </div>
</div>
<a id="scrollToContent"></a>
<ui-view></ui-view>
<footer class="usa-footer usa-footer-big usa-sans limit hidden-print" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top hidden">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer-primary-section">
        <div class="usa-grid-full">
            <nav class="usa-footer-nav usa-width-one-whole">
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Contact Information</h1>
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>FedRAMP PMO</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:info@fedramp.gov">Email</a>
                    </li>
                    <li>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <p>General Services Administration<br />
                        1800 F Street, Washington, DC 20006</p>
                    </li>
                </ul>
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Follow @FedRAMP on Twitter</h1>
                    </li>
                    <li>
                        <twitter>
                            <a class="twitter-timeline" href="https://twitter.com/FedRAMP" data-tweet-limit="1">Tweets by @FedRAMP</a>
                        </twitter>
                    </li>
                </ul>
                <ul class="usa-unstyled-list usa-width-one-third usa-footer-primary-content">
                    <li class="usa-footer-primary-link">
                        <h1>Subscribe to Updates</h1>
                    </li>
                    <li><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/topics?qsp=USGSA_2224">Add your email to FedRAMP's subscriber list.</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
