<a id="scrollToContent"></a>
<ui-view></ui-view>
<footer class="usa-footer usa-footer--big usa-sans hidden-print" role="contentinfo">
    <div class="grid-container usa-footer__return-to-top hidden">
        <a href="#">Return to top</a>
    </div>
    <div class="usa-footer__primary-section">
        <div class="grid-container padding-x-0">
            <nav class="usa-footer__nav grid-row">
                <ul class="usa-list usa-list--unstyled grid-col-4 usa-footer__primary-content">
                    <li class="usa-footer__primary-link">
                        <h3>Contact Information</h3>
                    </li>
                    <li>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>FedRAMP PMO</span>
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <a href="mailto:info@fedramp.gov">Email</a>
                    </li>
                    <li>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        <p>
                            General Services Administration<br />
                            1800 F Street, Washington, DC 20006
                        </p>
                    </li>
                </ul>
                <ul class="usa-list usa-list--unstyled grid-col-4 usa-footer__primary-content">
                    <li class="usa-footer-primary-link">
                        <h3>Follow @FedRAMP on Twitter</h3>
                    </li>
                    <li>
                        <twitter>
                            <a class="twitter-timeline" href="https://twitter.com/FedRAMP" data-tweet-limit="1">Tweets by @FedRAMP</a>
                        </twitter>
                    </li>
                </ul>
                <ul class="usa-list usa-list--unstyled grid-col-4 usa-footer__primary-content">
                    <li class="usa-footer-primary-link">
                        <h3>Subscribe to Updates</h3>
                    </li>
                    <li><a href="https://public.govdelivery.com/accounts/USGSA/subscriber/topics?qsp=USGSA_2224">Add your email to FedRAMP's subscriber list.</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
