<grid class="grid" raw-items="controller.agencies" on-update="controller.onUpdate(items, state)" state="controller.savedState">
    <div class="sidebar hidden-print" ng-show="!controller.hideFilters">
        <div class="filters-toggle mobile-visible text-center">
            <span ng-click="controller.toggleFilters = !controller.toggleFilters">Filter results <i class="fa" aria-hidden="true" ng-class="{'fa-plus': !controller.toggleFilters, 'fa-minus': controller.toggleFilters}"></i></span>
        </div>
        <div class="filters" ng-class="{'mobile-hidden': !controller.toggleFilters}">
            <grid-filter-clear class="clear-filters"><i class="fa fa-times" aria-hidden="true"></i> Clear All</grid-filter-clear>
            <grid-search id="searchName" property="name" placeholder="Search by Agency Name"></grid-search>
            <grid-total></grid-total>
            <grid-filter id="productsUsed" header="Products Used" opened="true" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
            <grid-filter id="assessors" property="a in assessors" header="Assessors" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="products" property="p in products" header="Products" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="providers" property="p in providers" header="Providers" opened="false" class="grid-filter"></grid-filter>
            <div class="export hidden-print mobile-hidden" ng-sticky>
                <download-csv content="controller.filteredData" ng-if="controller.filteredData" />
            </div>
        </div>
    </div>
    <div class="grid full-width-print" ng-class="{'grid-with-sidebar': !controller.hideFilters}">
        <grid-filter-print></grid-filter-print>
        <div class="fr-grid-layout fr-grid-header" ng-show="!controller.hideFilters">
            <div class="fr-grid-layout-row">
                <div class="fr-grid-cell-name">
                    <grid-sort name="name" property="name" header="Name" class="grid-sort" default="true"></grid-sort>          
                </div>
                <div class="fr-grid-cell-contact">
                    <span>Contact Information</span>
                </div>
                <div class="fr-grid-cell-metric">
                    <grid-sort name="products" property="products.length" class="grid-sort"></grid-sort>    
                </div>
            </div>
        </div>
        <tile ng-repeat="item in controller.filteredData" model="item"></tile>
        <div class="empty-results" ng-if="controller.filteredData.length === 0">No results were found matching your filtering criteria</div>
    </div>
    <div class="clear"></div>
</grid>
