<div class="information agency">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col reuse mobile-hidden">
            <div class="number">{{controller.model.products.length}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
                <div ng-if="!controller.model.logo" class="no-image"></div>
            </div>
        </div>
    </div>
    <div class="row header">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col reuse mobile-visible">
            <div class="number">{{controller.model.products.length}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
    </div>
    <div class="row">
        <div class="contact-information">
            <h4>Contact Information</h4>
            <dl>
                <dt ng-if="controller.model.pocName">POC:</dt>
                <dd ng-if="controller.model.pocName">{{controller.model.pocName}}</dd>
                <dt ng-if="controller.model.pocEmail">E-mail:</dt>
                <dd ng-if="controller.model.pocEmail"><a ng-href="mailto:{{controller.model.pocEmail}}" title="Email agency">{{controller.model.pocEmail}}</a></dd>
            </dl>
        </div>
    </div>
    <div class="row products">
        <div class="col">
            <h4>Products Used</h4>
            <product-list products="controller.model.products"></product-list>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
</div>
