<div class="information agency">
    <div class="row close">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row system-profile clear">
        <div class="col contact-information">
            <h5>Contact Information</h5>
            <div><strong>POC:</strong></div>
            <div><strong>E-mail:</strong></div>
            <div><strong>Website:</strong></div>
        </div>
        <div class="col">
            <h4>FedRAMP Compliant Detail</h4>

            <h5>Authorization Type</h5>
            <p></p>

            <h5>Agency Lead</h5>
            <p></p>
        </div>
    </div>

    <div class="row service-description clear">
        <div class="col">
            <h4>Agency Description</h4>
            <i class="fa fa-plus"></i>
        </div>
    </div>

    <div class="row products">
        <div class="col">
            <h4>Products</h4>
            <product-list products="controller.model.products"></product-list>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
</div>
