<div class="information assessor">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
                <div ng-if="!controller.model.logo" class="no-image"></div>
            </div>
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
    </div>
    <div class="row text-center" ng-if="controller.model.accreditationDate">
        <div class="divider"></div>
        <div class="accredited">Accredited Since {{controller.model.accreditationDate}}</div>
    </div>
    <div class="row text-center" ng-if="!controller.model.accreditationDate">
        <div class="divider not-accredited"></div>
        <div>Accreditation Date not available</div>
    </div>
    <div class="row">
        <div class="contact-information">
            <h4>Contact Information</h4>

            <h5>POC</h5>
            <p>{{controller.model.pointOfContact}}</p>

            <h5>E-mail</h5>
            <p>{{controller.model.email}}</p>

            <h5>Website</h5>
            <p>{{controller.model.url}}</p>
        </div>
    </div>
    <panel ng-if="controller.model.description" header="Assessor Description">
        <p>{{controller.markdown(controller.model.description)}}</p>
    </panel>
    <div class="row products">
        <div class="col">
            <h4>Client History</h4>
            <product-list products="controller.model.products"></product-list>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
</div>
