<div class="information assessor">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
                <div ng-if="!controller.model.logo" class="no-image"></div>
            </div>
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
    </div>
    <div class="row text-center" ng-if="controller.model.accreditationDate">
        <div class="divider"></div>
        <div class="accredited">Accredited Since {{controller.model.accreditationDate}}</div>
    </div>
    <div class="row text-center" ng-if="!controller.model.accreditationDate">
        <div class="divider not-accredited"></div>
        <div>Accreditation Date not available</div>
    </div>
    <div class="row">
        <div class="contact-information">
            <h4>Contact Information</h4>

            <dl ng-if="controller.hasContactInformation()">
                <dt ng-if="controller.model.pocName">POC:</dt>
                <dd ng-if="controller.model.pocName">{{controller.model.pocName}}</dd>
                <dt ng-if="controller.model.pocEmail">E-mail:</dt>
                <dd ng-if="controller.model.pocEmail"><a ng-href="mailto:{{controller.model.pocEmail}}">{{controller.model.pocEmail}}</a></dd>
                <dt ng-if="controller.model.website">Website:</dt>
                <dd ng-if="controller.model.website"><a ng-href="{{controller.externalLink(controller.model.website)}}" target="_blank">{{controller.model.website}}</a></dd>
            </dl>
            <p ng-if="!controller.hasContactInformation()">
                No contact information on record
            </p>
        </div>
    </div>
    <panel ng-if="controller.model.description" header="Assessor Description" expand="false">
        <div ng-bind-html="controller.markdown(controller.model.description)"></div>
    </panel>
    <div class="row products">
        <div class="col">
            <h4>Client History</h4>
            <product-list products="controller.model.products"></product-list>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
</div>
