<div class="information assessor">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                Close
                <i class="fa fa-times"></i>
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col reuse mobile-hidden">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
                <div ng-if="!controller.model.logo" class="no-image"></div>
            </div>
        </div>
    </div>
    <div class="row header">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
    </div>
    <div class="row text-center" ng-if="controller.model.accreditationDate">
        <div class="divider"></div>
        <div class="accredited">Accredited Since {{controller.model.accreditationDate}}</div>
    </div>
    <div class="row text-center" ng-if="!controller.model.accreditationDate">
        <div class="divider not-accredited"></div>
        <div>Accreditation Date not available</div>
    </div>
    <div class="row">
        <div class="col reuse mobile-visible">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
    </div>
    <div class="row" ng-if="controller.model.remediation === 'Y'">
        <div class="col remediation">
            <div class="usa-alert usa-alert-error" role="alert">
                <div class="usa-alert-body">
                    <h3 class="usa-alert-heading">In Remediation</h3>
                    <p class="usa-alert-text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="contact-information">
            <h4>Contact Information</h4>

            <dl ng-if="controller.hasContactInformation()">
                <dt ng-if="controller.model.pocName">POC:</dt>
                <dd ng-if="controller.model.pocName">{{controller.model.pocName}}</dd>
                <dt ng-if="controller.model.pocEmail">E-mail:</dt>
                <dd ng-if="controller.model.pocEmail"><a ng-href="mailto:{{controller.model.pocEmail}}" title="Email independent assessor">{{controller.model.pocEmail}}</a></dd>
                <dt ng-if="controller.model.website">Website:</dt>
                <dd ng-if="controller.model.website"><a ng-href="{{controller.externalLink(controller.model.website)}}" target="_blank" title="Visit independent assessor website" class="usa-link usa-link--external">{{controller.model.website}}</a></dd>
                <dt ng-if="controller.model.founded">Founded:</dt>
                <dd ng-if="controller.model.founded">{{controller.model.founded}}</dd>
            </dl>
            <p ng-if="!controller.hasContactInformation()">
                No contact information on record
            </p>

            <div ng-if="controller.model.primaryOfficeLocations" ng-bind-html="controller.markdown(controller.model.primaryOfficeLocations)"></div>
        </div>
    </div>
    <panel ng-if="controller.model.description" header="Assessor Description" expand="true">
        <div ng-bind-html="controller.markdown(controller.model.description)"></div>
    </panel>
    <div class="row gutter" ng-if="controller.model.provideConsultingServices === 'Y' && controller.model.descriptionOfConsultingServices">
        <div class="col">
            <h4>Consulting Services</h4>
            <div class="col" ng-bind-html="controller.markdown(controller.model.descriptionOfConsultingServices)"></div>
        </div>
    </div>
    <div class="row gutter" ng-if="controller.model.consultingServicesTo">
        <div class="col">
            <h4>CSPs providing consulting services to</h4>
            <div class="col" ng-bind-html="controller.markdown(controller.model.consultingServicesTo)"></div>
        </div>
    </div>
    <div class="row products">
        <div class="col">
            <h4>Client History</h4>
            <product-list products="controller.model.products"></product-list>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
    <div class="row gutter" ng-if="controller.model.additionalCyberFrameworks">
        <div class="col">
            <h4>Additional Cyber Frameworks</h4>
            <div ng-bind-html="controller.markdown(controller.model.additionalCyberFrameworks)"></div>
        </div>
    </div>
</div>
