<div class="no-select">
    <div ng-click="controller.toggleExpand()">
        <span class="filter-header">{{::controller.header}}</span>
        <span class="icons">
            <i class="fa fa-plus" aria-hidden="true" ng-if="!controller.opened"></i>
            <i class="fa fa-minus" aria-hidden="true" ng-if="controller.opened"></i>
        </span>
    </div>
    <div class="options" ng-if="controller.opened">
        <div ng-repeat="option in controller.options track by $index" ng-click="controller.selectOption(option)">
            <span class="option" ng-class="{'selected': option.selected}">{{::option.label}} <i class="fa fa-check-circle" aria-hidden="true" ng-if="option.selected"></i> </span>
        </div>
    </div>
</div>

