<div ng-if="!controller.expanded" class="filter-dropdown" ng-mouseleave="controller.expand = false">
    <div ng-click="controller.expand = !controller.expand">
        <span class="filter-header">{{controller.header}}</span>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
    <div ng-show="controller.expand" class="filter-dropdown-panel">
        <ng-include src="controller.gridFilterOptionsTemplatePath"></ng-include>
    </div>
</div>

<div ng-if="controller.expanded">
    <div ng-click="controller.opened = !controller.opened">
        <span class="filter-header">{{controller.header}}</span>
        <span ng-if="controller.selectedOptionValues.length > 0" class="filter-total">
            {{controller.selectedOptionValues.length}}
            filter<span ng-if="controller.selectedOptionValues.length > 1">s</span>
        </span>
        <span class="icons">
            <i class="fa fa-plus" aria-hidden="true" ng-if="!controller.opened"></i>
            <i class="fa fa-minus" aria-hidden="true" ng-if="controller.opened"></i>
        </span>
    </div>
    <div class="options" ng-show="controller.opened">
        <ng-include src="controller.gridFilterOptionsTemplatePath"></ng-include>
    </div>
</div>

