<div id="catnav" class="hidden-print">
    <div id="navigate" class="mobile-visible" ng-click="controller.toggleMobile = !controller.toggleMobile">Navigate to...</div>
    <ul class="limit" ng-class="{'mobile-hidden': !controller.toggleMobile}">
        <li><a href="https://www.fedramp.gov/" title="Home">Home</a></li>
        <li class="dropdown">
            <a href="#" title="About Us" title="About Us">About Us</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/about/" title="Program Overview">Program Overview</a></li>
                <li><a href="https://www.fedramp.gov/team/" title="Team Bios">Team Bios</a></li>
                <li><a href="https://www.fedramp.gov/governance/" title="Governance">Governance</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Participate">Participate</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/" title="FedRAMP Accelerated">FedRAMP Accelerated</a></li>
                <li><a href="https://www.fedramp.gov/federal-agencies/" title="Federal Agencies">Federal Agencies</a></li>
                <li><a href="https://www.fedramp.gov/cloud-service-providers" title="Cloud Service Providers">Cloud Service Providers</a></li>
                <li class="dropdown">
                    <a href="https://www.fedramp.gov/assessors/" title="Assessors">Assessors</a>
                    <ul class="dropdown-content right">
                        <li><a href="https://www.fedramp.gov/participate/assessors/a2la-accreditation/" title="A2LA Accreditation">A2LA Accreditation</a></li>
                    </ul>
                </li>
                <li><a href="https://github.com/issues" title="Provide Public Comment">Provide Public Comment</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:;"
               ui-sref="fedramp.app.home.products"
               ng-class="{'active': controller.includes('fedramp.**')}"
               title="Marketplace">
                <span>Marketplace</span>
            </a>
            <ul class="dropdown-content down">
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('Compliant')"
                       ng-class="{'active': controller.includes('**.products', 'Compliant')}"
                       title="FedRAMP Authorized Products">
                        <span>FedRAMP Authorized Products</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('In Process')"
                       ng-class="{'active': controller.includes('**.products', 'In Process')}"
                       title="FedRAMP In Process Products">
                        <span>FedRAMP In Process Products</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('FedRAMP Ready')"
                       ng-class="{'active': controller.includes('**.products', 'FedRAMP Ready')}"
                       title="FedRAMP Ready Products">
                        <span>FedRAMP Ready Products</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.home.agencies"
                       ng-class="{'active': controller.includes('**.agencies')}"
                       title="All Agencies">
                        <span>All Agencies</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.home.assessors"
                       ng-class="{'active': controller.includes('**.assessors')}"
                       title="Assessors">
                        <span>Assessors</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.dictionary"
                       ng-class="{'active': controller.includes('**.dictionary')}"
                       title="Marketplace Terms">
                        <span>Marketplace Terms</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Resources">Resources</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/documents/" title="Documents">Documents</a></li>
                <li><a href="https://www.fedramp.gov/templates/" title="Templates">Templates</a></li>
                <li><a href="https://www.fedramp.gov/nist-publications/" title="NIST Publications">NIST Publications</a></li>
                <li><a href="https://www.fedramp.gov/faqs/" title="FAQs">FAQs</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Learn">Learn</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/training/" title="FedRAMP Training">FedRAMP Training</a></li>
                <li><a href="https://www.fedramp.gov/" title="FedRAMP Webcasts">FedRAMP Webcasts</a></li>
                <li><a href="https://www.fedramp.gov/" title="FedRAMP Events">FedRAMP Events</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="https://www.fedramp.gov/blog/" title="Blog">Blog</a>
        </li>
    </ul>
</div>
