<div id="catnav" class="hidden-print">
    <div id="navigate" class="mobile-visible" ng-click="controller.toggleMobile = !controller.toggleMobile">Navigate to...</div>
    <ul class="limit" ng-class="{'mobile-hidden': !controller.toggleMobile}">
        <li><a href="https://www.fedramp.gov/" title="Home">Home</a></li>
        <li class="dropdown">
            <a href="#" title="About Us" title="About Us">About Us</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/about/" title="Program Overview">PROGRAM OVERVIEW</a></li>
                <li><a href="https://www.fedramp.gov/governance/" title="Governance">GOVERNANCE</a></li>
                <li><a href="https://www.fedramp.gov/team/" title="Team Bios">MEET THE TEAM</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Partners We Serve">Partners We Serve</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/federal-agencies/" title="Federal Agencies">FEDERAL AGENCIES</a></li>
                <li><a href="https://www.fedramp.gov/cloud-service-providers/" title="Cloud Service Providers">CLOUD SERVICE PROVIDERS</a></li>
                <li><a href="https://www.fedramp.gov/assessors/" title="Assessors">ASSESSORS</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="javascript:;"
               ui-sref="fedramp.app.home.products"
               ng-class="{'active': controller.includes('fedramp.**')}"
               title="Marketplace">
                <span>Marketplace</span>
            </a>
            <ul class="dropdown-content down">
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('Compliant')"
                       ng-class="{'active': controller.includes('**.products', 'Compliant')}"
                       title="FedRAMP Authorized Products">
                        <span>FEDRAMP AUTHORIZED PRODUCTS</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('In Process')"
                       ng-class="{'active': controller.includes('**.products', 'In Process')}"
                       title="FedRAMP In Process Products">
                        <span>FEDRAMP IN PROCESS PRODUCTS</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;"
                       ng-click="controller.filterProducts('FedRAMP Ready')"
                       ng-class="{'active': controller.includes('**.products', 'FedRAMP Ready')}"
                       title="FedRAMP Ready Products">
                        <span>FEDRAMP READY PRODUCTS</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.home.agencies"
                       ng-class="{'active': controller.includes('**.agencies')}"
                       title="All Agencies">
                        <span>ALL AGENCIES</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.home.assessors"
                       ng-class="{'active': controller.includes('**.assessors')}"
                       title="Assessors">
                        <span>ASSESSORS</span>
                    </a>
                </li>
                <li>
                    <a ui-sref="fedramp.app.dictionary"
                       ng-class="{'active': controller.includes('**.dictionary')}"
                       title="Marketplace Terms">
                        <span>MARKETPLACE TERMS</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Resources">Resources</a>
            <ul class="dropdown-content down">
                <li><a href="https://www.fedramp.gov/documents/" title="Documents">DOCUMENTS</a></li>
                <li><a href="https://www.fedramp.gov/templates/" title="Templates">TEMPLATES</a></li>
                <li><a href="https://www.fedramp.gov/nist-publications/" title="NIST Publications">NIST PUBLICATIONS</a></li>
                <li><a href="https://www.fedramp.gov/training/" title="FedRAMP Training">TRAINING</a></li>
                <li><a href="https://www.fedramp.gov/faqs/" title="FAQs">FAQs</a></li>
                <li><a href="https://www.fedramp.gov/tips-cues/" title="Tips & Cues">TIPS & CUES</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" title="Get Authorized">Get Authorized</a>
            <ul class="dropdown-content down"> 
                <li><a href="https://www.fedramp.gov/jab-authorization/" title="JAB Authorization">JAB AUTHORIZATION</a></li>
                <li><a href="https://www.fedramp.gov/agency-authorization/" title="Agency Authorization">AGENCY AUTHORIZATION</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="https://www.fedramp.gov/blog/" title="Blog">Blog</a>
        </li>
    </ul>
</div>
