<div class="search-feature">
    <div class="search-wrapper">
        <form class="usa-search" id="searchgovform" action="https://www.fedramp.gov/search-results/">
            <label class="usa-sr-only" for="searchgovinput">Search</label>
            <input name="search" type="search" id="searchgovinput" placeholder="Search" >
            <button type="submit" id="searchgovbutton" title="Submit Search" value="Submit Search">
            <span class="usa-search-submit-text"><img class="search-button-icon" src="img/search-magnifying-glass.svg" alt="" /></span>
            </button>
        </form>
    </div>
</div>

<div class="usa-nav-container">
    <button class="usa-menu-btn"><!-- <i class="fas fa-bars"></i> -->
        <img src="img/fa-bars.svg" width="26">
    </button>

    <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
            <a href="https://www.fedramp.gov/" accesskey="1" title="Home" aria-label="Home">
                <img class="desk" src="img/fedramp-logo-vert.svg" alt="FedRAMP.gov">
                <img class="mobile" src="img/logo-mobile-fedramp.svg" alt="FedRAMP.gov">
            </a>
        </em>
    </div>

    <nav role="navigation" class="usa-nav nav focus-within" id="navigation">
        <button class="usa-nav__close">
            <img src="img/menu-close.svg" width="20" alt="close">
        </button>

        <ul class="usa-nav-primary usa-accordion focus-within">
            <!-- 1st level -->
            <li tabindex="0" aria-haspopup="true" class="main-parent parent primary-active focus-within">About Us
                <img src="img/down-chevron.svg" width="18" alt="close">
                <ul class="sub-menu dropdown" aria-label="submenu">
                    <!-- 2nd level -->
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/program-basics/" class="active"> Program Basics </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/team/" class="active"> Meet the Team </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/governance/" class="active"> Governance </a>
                    </li>
                </ul>
            </li>

            <li tabindex="0" aria-haspopup="true" class="main-parent parent primary-active">Partners
                <img src="img/down-chevron.svg" width="18" alt="close">
                <ul class="sub-menu dropdown" aria-label="submenu">
                    <!-- 2nd level -->
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/cloud-service-providers/" class="active"> Cloud Service Providers </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/federal-agencies/" class="active"> Federal Agencies </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/assessors/" class="active"> Assessors </a>
                    </li>
                </ul>
            </li>

            <li tabindex="0" aria-haspopup="true" class="main-parent parent primary-active">Get Authorized
                <img src="img/down-chevron.svg" width="18" alt="close">
                <ul class="sub-menu dropdown" aria-label="submenu">
                    <!-- 2nd level -->
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/agency-authorization/" class="active"> Agency Authorization </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/jab-authorization/" class="active"> JAB Authorization </a>
                    </li>
                </ul>
            </li>

            <li tabindex="0" aria-haspopup="true" class="main-parent parent primary-active">Resources
                <img src="img/down-chevron.svg" width="18" alt="close">
                <ul class="sub-menu dropdown" aria-label="submenu">
                    <!-- 2nd level -->
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/documents-templates/" class="active"> Documents &amp; Templates </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/training/" class="active"> Training </a>
                    </li>
                    <li>
                        <a tabindex="0" href="https://www.fedramp.gov/faqs/" class="active"> FAQs </a>
                    </li>
                    <li> <a tabindex="0" href="https://tailored.fedramp.gov" target="_blank">Tailored Authorization</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="https://www.fedramp.gov/blog/" class="active">Blog</a>
            </li>
            <li>
                <a class="external" href="/" target="_blank">Marketplace</a>
            </li>
        </ul>
    </nav>
</div>
