<img ng-if="::controller.status === 'Compliant'" src="img/glance-authorized.svg" alt="Authorized" aria-hidden='true' />
<img ng-if="::controller.status === 'In Process'" src="img/glance-process.svg" alt="In-Process" aria-hidden='true' />
<img ng-if="::controller.status === 'FedRAMP Ready'" src="img/glance-ready.svg" alt="Ready" aria-hidden='true' />
<span ng-if="::controller.status === 'Compliant'">FedRAMP Authorized</span>
<span ng-if="::controller.status === 'In Process'"> FedRAMP In Process</span>
<span ng-if="::controller.status === 'FedRAMP Ready'">FedRAMP Ready</span>
