<div class="information product">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
            </div>
            <div class="title">
                <strong>{{ controller.model.provider }} - {{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row status">
        <div class="col ready">
            <img ng-if="controller.isReady()" ng-src="img/fedramp-process-ready-blue.png" alt="Ready" />
            <img ng-if="!controller.isReady()" ng-src="img/fedramp-process-ready-grey.png" alt="Not Ready" />
            <div class="text">FedRAMP Ready</div>
        </div>                                 
        <div class="col in-process">
            <img ng-if="controller.isProcessing()" ng-src="img/fedramp-process-in-process-blue.png" alt="In-Process" />
            <img ng-if="!controller.isProcessing()" ng-src="img/fedramp-process-in-process-grey.png" alt="Not In-Process" />
            <div class="text">FedRAMP In Process</div>
        </div>                                 
        <div class="col compliant">
            <img ng-if="controller.isCompliant()" ng-src="img/fedramp-process-compliant-blue.png" alt="Authorized" />
            <img ng-if="!controller.isCompliant()" ng-src="img/fedramp-process-compliant-grey.png" alt="Not Authorized" />
            <div class="text">FedRAMP Authorized</div>
        </div>
        <div class="col progress">
            <div class="percent percent-{{controller.percentComplete()}}"></div>
        </div>
        <div class="col message">
            {{ controller.statusMessage() }}
        </div>
    </div>
    <div class="row system-profile">
        <div class="col contact-information">
            <h5>Contact Information</h5>
            <div><strong>POC:</strong></div>
            <div><strong>E-mail:</strong></div>
            <div><strong>Website:</strong></div>
        </div>
        <div class="col">
            <h4>System Profile</h4>

            <h5>Service Model<span ng-show="controller.model.serviceModels.length > 1">s</span></h5>
            <p>{{controller.model.serviceModels.join(', ')}}</p>

            <h5>Deployment Model</h5>
            <p>{{controller.model.deploymentModel}}</p>

            <h5>Impact Level</h5>
            <p>{{controller.model.impactLevel}}</p>
        </div>
    </div>
    <div class="row fedramp">
        <div class="col">
            <h4>Package ID</h4>
            <p>
                {{controller.model.pkgId}}
                <br />
                <a href="#">Package Access Request Form</a>
            </p>

            <h4>FedRAMP Authorized Detail</h4>
            <dl>
                <dt>Authorization Type:</dt>
                <dd>{{ controller.model.authorizationType }}</dd>
                <dt>Agency Lead:</dt>
                <dd>{{ controller.model.sponsoringAgency }}</dd>
                <dt>Independent Assessor:</dt>
                <dd>{{ controller.model.independentAssessor }}</dd>
                <dt ng-if="controller.model.authorizationDate">Authorization Date:</dt>
                <dd ng-if="controller.model.authorizationDate">{{ controller.model.authorizationDate }}</dd>
                <dt ng-if="controller.model.expirationDate">Expiration Date:</dt>
                <dd ng-if="controller.model.expirationDate">{{ controller.model.expirationDate }}</dd>
            </dl>
        </div>
    </div>

    <panel header="Service Description">
        <div class="row products" ng-if="controller.additionalProducts.length > 0">
            <div class="col">
                <h4>Additional products from this provider</h4>
                <ul>
                    <li ng-repeat="product in controller.additionalProducts | orderBy:'+name' track by $index">
                        <a title="{{product.name}}" ng-href="{{controller.linkify('product', product.name)}}">
                            {{product.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row agencies">
            <div class="col">
                <h4>Agencies using this service</h4>
                <ul ng-if="controller.model.agencies.length > 0">
                    <li ng-repeat="agency in controller.model.agencies | orderBy:'+' track by $index">
                        <a title="{{agency}}" ng-href="{{controller.linkify('agency', agency)}}">
                            {{agency}}
                        </a>
                    </li>
                </ul>
                <p ng-if="controller.model.agencies.length === 0">
                    None
                </p>
            </div>
        </div>
    </panel>
</div>
