<div class="product-row" ng-repeat="provider in controller.groupedProducts track by $index">
    <div class="provider">{{provider.name}}</div>
    <div class="product" ng-repeat="model in provider.products">
        <div class="name">
            <a ui-sref="fedramp.app.product.information({name:model.slugified})" title="{{model.product.name}}">{{model.product.name}}</a>
        </div>
        <div class="designation">
            {{model.product.designation === 'Compliant' ? 'Authorized' : model.product.designation}}
        </div>
    </div>
</div>
