<img ng-if="::controller.status === 'Compliant'" src="img/fedramp-process-compliant-blue.png" alt="Authorized" />
<img ng-if="::controller.status === 'In Process'" src="img/fedramp-process-in-process-blue.png" alt="In-Process" />
<img ng-if="::controller.status === 'Ready'" src="img/fedramp-process-ready-blue.png" alt="Ready" />
<span ng-if="::controller.status === 'Compliant'">FedRAMP Authorized</span>
<span ng-if="::controller.status === 'In Process'"> FedRAMP In Process</span>
<span ng-if="::controller.status === 'Ready'">FedRAMP Ready</span>
