<grid id="products-grid" class="grid" raw-items="controller.products" on-update="controller.onUpdate(items, state)" state="controller.savedState">
    <div class="sidebar hidden-print" ng-show="!controller.hideFilters">
        <div class="filters-toggle mobile-visible text-center">
            <span ng-click="controller.toggleFilters = !controller.toggleFilters">Filter results <i class="fa" aria-hidden="true" ng-class="{'fa-plus': !controller.toggleFilters, 'fa-minus': controller.toggleFilters}"></i></span>
        </div>
        <div class="filters" ng-class="{'mobile-hidden': !controller.toggleFilters}">
            <grid-filter-clear class="clear-filters"><i class="fa fa-times" aria-hidden="true"></i> Clear All</grid-filter-clear>
            <grid-search id="productNameSearch" placeholder="Search by Provider or Product" filter-func="controller.productNameSearchFilterFunc"></grid-search>
            <grid-total></grid-total>
            <grid-filter id="status" header="Status" filter-func="controller.statusFilter" options-func="controller.statusFilterOptions" expanded="true" opened="true" class="grid-filter"></grid-filter>
            <grid-filter id="authorizationType" property="authorizationType" header="Authorization Type" expanded="true" opened="true" class="grid-filter"></grid-filter>
            <grid-filter id="reuseRange" header="Products Authorized" expanded="true" opened="false" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
            <grid-filter id="serviceModels" property="s in serviceModels" header="Service Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="deploymentModels" property="deploymentModel" header="Deployment Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="agencies" property="a in agencies" header="Agencies" expanded="true" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="impactLevel" property="impactLevel" header="Impact Level" expanded="true" opened="false" class="grid-filter"></grid-filter>
            <grid-filter id="providers" property="provider" header="Providers" expanded="true" opened="false" class="grid-filter"></grid-filter>
            <div class="export hidden-print mobile-hidden" ng-sticky>
                <download-csv content="controller.filteredData" ng-if="controller.filteredData" />
            </div>
        </div>
    </div>
    <div class="grid full-width-print" ng-class="{'grid-with-sidebar': !controller.hideFilters}">
        <grid-filter-print></grid-filter-print>
        <div class="fr-grid-layout fr-grid-header" ng-show="!controller.hideFilters">
            <div class="fr-grid-layout-row">
                <div class="fr-grid-cell-name">
                    <grid-sort name="productName" property="provider,name" header="Name" class="grid-sort" default="true"></grid-sort>
                </div>
                <div class="fr-grid-cell-service">
                    <grid-sort name="serviceModels" property="serviceModels" header="Service Models" class="grid-sort"></grid-sort>
                </div>
                <div class="fr-grid-cell-impact">
                    <grid-sort name="impactLevel" property="impactLevel" header="Impact Level" class="grid-sort"></grid-sort>
                </div>
                <div class="fr-grid-cell-icon">
                    <grid-sort name="designation" property="designation" header="Status" class="grid-sort"></grid-sort>
                </div>
                <div class="fr-grid-cell-metric">
                    <grid-sort name="authorizations" property="authorizations" default="-true" class="grid-sort"></grid-sort>
                </div>
            </div>
        </div>
        <tile ng-repeat="item in controller.filteredData" expand="controller.expandTiles" model="item"></tile>
    </div>
    <div class="clear"></div>
</grid>
