<div class="information provider">
    <div class="row close hidden-print">
        <a ng-click="controller.close()">
            <div class="col">
                Close
                <i class="fa fa-times"></i>
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
            </div>
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row system-profile">
        <div class="col contact-information">
            <h5>Contact Information</h5>
            <div><strong>POC:</strong></div>
            <div><strong>E-mail:</strong></div>
            <div><strong>Website:</strong></div>
        </div>
        <div class="col">
            <h4>System Profile</h4>

            <h5>Service Model<span ng-show="controller.model.serviceModels.length > 1">s</span></h5>
            <p>{{controller.model.serviceModels.join(', ')}}</p>

            <h5>Deployment Model<span ng-show="controller.model.deploymentModels.length > 1">s</span></h5>
            <p>{{controller.model.deploymentModels.join(', ')}}</p>
        </div>
    </div>
    <div class="row products">
        <div class="col">
            <h4>Products provided</h4>
            <ul ng-if="controller.model.products.length > 0">
                <li ng-repeat="product in controller.model.products | orderBy:'+name' track by $index">
                    <a title="{{product.name}}" ng-href="{{controller.linkify('product', product.name)}}">
                        {{product.name}}
                    </a>
                </li>
            </ul>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
    <div class="row agencies">
        <div class="col">
            <h4>Agencies</h4>
            <ul ng-if="controller.model.agencies.length > 0">
                <li ng-repeat="agency in controller.model.agencies | orderBy:'+' track by $index">
                    <a title="{{agency}}" ng-href="{{controller.linkify('agency', agency)}}">
                        {{agency}}
                    </a>
                </li>
            </ul>
            <p ng-if="controller.model.agencies.length === 0">
                None
            </p>
        </div>
    </div>
</div>
