<!-- TODO: Determine if the US Grid layout should be used -->
<div ng-if="controller.expand" class="agency expanded fr-grid-layout">
    <div class="row fr-grid-layout-row">
        <div class="col name fr-grid-cell-name">
            <a ng-click="controller.view()">
                <div class="logo" style="background-image:url();"></div>
                <div class="title">
                    <strong>{{ controller.model.name }}</strong>
                </div>
            </a>
        </div>
        <div class="col fr-grid-cell-contact">
            <div class="detail"><strong>Contact Information</strong></div>
            <!-- TODO Place contact info -->
        </div>
        <div class="col reuses fr-grid-cell-metric">
            <div class="number">{{controller.model.products.length}}</div>
            <div class="text">{{controller.model.useLabel}}</div>
        </div>
    </div>

</div>

<div ng-if="!controller.expand" class="agency card">
    <div class="row header">
        <div class="col reuses">
            <a ng-click="controller.view()">
                <div class="number">{{controller.model.products.length}}</div>
                <div class="text">{{controller.model.useLabel}}</div>
            </a>
        </div>
    </div>
    <div class="row content">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
    </div>
</div>
