<div ng-if="controller.expand" class="provider expanded fr-grid-layout">
    <div class="row fr-grid-layout-row">
        <div class="col name fr-grid-cell-name">
            <a ng-click="controller.view()">
                <div class="logo" style="background-image:url({{controller.model.logo}});"></div>
                <div class="title">
                    <strong>{{ controller.model.name }}</strong>
                </div>
            </a>
        </div>
        <div class="col service-model fr-grid-cell-service">
            <div ng-repeat="model in controller.model.serviceModels">{{ model }}</div>
        </div>
        <div class="col reuses fr-grid-cell-metric">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
</div>

<div ng-if="!controller.expand" class="provider card">
    <div class="row header">
        <div class="col name">
            <a ng-click="controller.view()">
                <div class="logo">
                    <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
                </div>
            </a>
        </div>
        <div class="col reuses">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row content">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
            <dl>
                <dt>Service Model:</dt>
                <dd>{{ controller.model.serviceModels.join(', ') }}</dd>
            </dl>
        </div>
    </div>
</div>
