<div class="product expanded fr-grid-layout">
    <div class="row fr-grid-layout-row">
        <div class="col name fr-grid-cell-name">
            <a ng-click="controller.view()" title="Click to compare">
                <div class="logo" style="background-image:url({{::controller.model.logo}});"></div>
                <div class="title">
                    <strong>{{::controller.model.name }}</strong>
                </div>
            </a>
        </div>
        <div class="col service-model fr-grid-cell-service">
            <div class="mobile-visible"><strong>Service Model:</strong></div>
            <div ng-repeat="service in ::controller.model.serviceModels">{{ ::service }}</div>
        </div>
        <div class="col impact-level fr-grid-cell-impact">
            <div class="mobile-visible"><strong>Impact Level:</strong></div>
            <span>{{ ::controller.model.impactLevel }}</span>
        </div>
        <div class="col status fr-grid-cell-icon">
            <product-status status="::controller.model.designation" model="::controller.model"></product-status>
        </div>
        <div class="col reuses fr-grid-cell-metric">
            <div class="number">{{::controller.model.authorizations}}</div>
            <div class="text">{{::controller.model.useLabel}}</div>
        </div>
    </div>
</div>
