<div class="usa-grid">
    <a ng-click="controller.close()"><div class="usa-width-whole">Close</div></a>
</div>
<div class="usa-grid">
    <div class="usa-width-two-thirds">
        <!-- Logo -->
        Logo
    </div>
    <div class="usa-width-one-sixth">
        <!-- Status -->
        Status
    </div>
    <div class="usa-width-one-sixth">
        {{controller.model.reuse}}
    </div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-whole">
        <strong>Contact Information</strong>
    </div>
    <div>POC:</div>
    <div>E-mail:</div>
    <div>Website:</div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-whole">
        <strong>Providers:</strong>
    </div>
    <div class="usa-width-one-whole">
        <ul>
            <li ng-repeat="provider in controller.model.providers track by $index">{{provider}}</li>
        </ul>
    </div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-whole">
        <strong>Products:</strong>
    </div>
    <div class="usa-width-one-whole">
        <ul>
            <li ng-repeat="product in controller.model.products track by $index">{{products}}</li>
        </ul>
    </div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-whole">
        <strong>Independent Assessors:</strong>
    </div>
    <div class="usa-width-one-whole">
        <ul>
            <li ng-repeat="assessor in controller.model.assessors track by $index">{{assessor}}</li>
        </ul>
    </div>
</div>
<div class="usa-grid">
    <div class="usa-width-one-whole">
        <strong>FedRAMP Compliant Detail</strong>
    </div>
    <div>Authorization Type:</div>
    <div>Agency Lead:</div>
</div>
