<div class="information assessor">
    <div class="row close">
        <a ng-click="controller.close()">
            <div class="col">
                <i class="fa fa-times"></i>
                <br />
                Close
            </div>
        </a>
    </div>
    <div class="row header">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col reuse">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row system-profile">
        <div class="col">
            <h4>Contact Information</h4>

            <h5>POC</h5>
            <p>{{controller.model.pointOfContact}}</p>

            <h5>E-mail</h5>
            <p>{{controller.model.email}}</p>

            <h5>Website</h5>
            <p>{{controller.model.url}}</p>
        </div>
    </div>
    <div class="row providers">
        <div class="col">
            <h4>Providers</h4>
            <ul ng-if="controller.model.providers.length > 0">
                <li ng-repeat="provider in controller.model.providers | orderBy:'+' track by $index">{{provider}}</li>
            </ul>
            <p ng-if="controller.model.providers.length === 0">
                None
            </p>
        </div>
    </div>
    <div class="row products">
        <div class="col">
            <h4>Products</h4>
            <ul ng-if="controller.model.products.length > 0">
                <li ng-repeat="product in controller.model.products | orderBy:'+' track by $index">{{product}}</li>
            </ul>
            <p ng-if="controller.model.products.length === 0">
                None
            </p>
        </div>
    </div>
    <div class="row agencies">
        <div class="col">
            <h4>Agencies</h4>
            <ul ng-if="controller.model.agencies.length > 0">
                <li ng-repeat="agency in controller.model.agencies | orderBy:'+' track by $index">{{agency}}</li>
            </ul>
            <p ng-if="controller.model.agencies.length === 0">
                None
            </p>
        </div>
    </div>
</div>
