<!-- TODO: Determine if the US Grid layout should be used -->
<div ng-if="controller.expand" class="agency expanded">
    <div class="row">
        <div class="col name">
            <strong>{{ controller.model.name }}</strong>
        </div>
        <div class="col reuses">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
</div>

<div ng-if="!controller.expand" class="agency card">
    <div class="row header">
        <div class="col reuses">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
    <div class="row content">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.name }}</strong>
            </div>
        </div>
    </div>
</div>
