<!-- TODO: Determine if the US Grid layout should be used -->
<div ng-if="controller.expand" class="product expanded">
    <div class="row">
        <div class="col name">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
            </div>
            <div class="title">
                <strong>{{ controller.model.provider }} - {{ controller.model.name }}</strong>
            </div>
        </div>
        <div class="col service-model">
            <div ng-repeat="service in controller.model.serviceModels">{{ service }}</div>
        </div>
        <div class="col deployment-model">
            <span>{{ controller.model.deploymentModel }}</span>
        </div>
        <div class="col impact-level">
            <span>{{ controller.model.impactLevel }}</span>
        </div>
        <div class="col status">
            <img ng-if="controller.model.designation === 'Compliant'" ng-src="img/fedramp-process-compliant-blue.png" alt="Compliant" />
            <img ng-if="controller.model.designation === 'In-Process'" ng-src="img/fedramp-process-in-process-blue.png" alt="In-Process" />
            <img ng-if="controller.model.designation === 'In PMO Review'" ng-src="img/fedramp-process-compliant-blue.png" alt="In PMO Review" />
            <img ng-if="controller.model.designation === 'Ready'" ng-src="img/fedramp-process-ready-blue.png" alt="Ready" />
        </div>
        <div class="col reuses">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
    </div>
</div>

<div ng-if="!controller.expand" class="product card">
    <div class="row header">
        <div class="col name">
            <div class="logo">
                <img ng-if="controller.model.logo" ng-src="{{controller.model.logo}}" alt="Logo for {{controller.model.logo}}" />
            </div>
        </div>
        <div class="col reuses">
            <div class="number">{{controller.model.reuses}}</div>
            <div class="text">Reuses</div>
        </div>
        <div class="col status">
            <img ng-if="controller.model.designation === 'Compliant'" ng-src="img/fedramp-process-compliant-blue.png" alt="Compliant" />
            <img ng-if="controller.model.designation === 'In-Process'" ng-src="img/fedramp-process-in-process-blue.png" alt="In-Process" />
            <img ng-if="controller.model.designation === 'In PMO Review'" ng-src="img/fedramp-process-compliant-blue.png" alt="In PMO Review" />
            <img ng-if="controller.model.designation === 'Ready'" ng-src="img/fedramp-process-ready-blue.png" alt="Ready" />
        </div>
    </div>
    <div class="row content">
        <div class="col">
            <div class="title">
                <strong>{{ controller.model.provider }} - {{ controller.model.name }}</strong>
            </div>
            <dl>
                <dt>Service Model:</dt>
                <dd>{{ controller.model.serviceModels.join(', ') }}</dd>
                <dt>Deployment Model:</dt>
                <dd>{{ controller.model.deploymentModel }}</dd>
                <dt>Impact Level:</dt>
                <dd>{{ controller.model.impactLevel }}</dd>
            </dl>
        </div>
    </div>
</div>
