<grid class="grid" raw-items="controller.agencies" on-update="controller.onUpdate(items, state)">
    <div class="sidebar">
        <grid-filter-clear class="clear-filters"><i class="fa fa-times" aria-hidden="true"></i> Clear All</grid-filter-clear>
        <grid-search id="searchName" property="name" placeholder="Search by Agency Name"></grid-search>
        <grid-total></grid-total>
        <grid-filter id="productsUsed" header="Products Used" expanded="true" opened="true" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
        <grid-filter id="assessors" property="a in assessors" header="Assessors" opened="false" expanded="true" class="grid-filter"></grid-filter>
        <grid-filter id="products" property="p in products" header="Products" expanded="true" opened="false" class="grid-filter"></grid-filter>
        <grid-filter id="providers" property="p in providers" header="Providers" expanded="true" opened="false" class="grid-filter"></grid-filter>
    </div>
    <div class="grid grid-with-sidebar">
        <div class="fr-grid-layout fr-grid-header">
            <div class="fr-grid-layout-row">
                <div class="fr-grid-cell-name">
                    <grid-sort name="name" property="name" header="Name" class="grid-sort" default="true"></grid-sort>          
                </div>
                <div class="fr-grid-cell-contact">
                    <grid-sort name="contactInformation" header="Contact Information" property="type" class="grid-sort"></grid-sort>    
                </div>
                <div class="fr-grid-cell-metric">
                    <grid-sort name="products" property="products.length" class="grid-sort"></grid-sort>    
                </div>
            </div>
        </div>
        <tile ng-repeat="item in controller.filteredData track by $index" expand="homeController.expandTiles" model="item"/>
    </div>
    <div class="clear"></div>
</grid>

<div style="clear: both;">
    <download-csv content="controller.filteredData" ng-if="controller.filteredData" style="float: right;">
        <button>
            <span>Export to CSV</span>
            <i class="fa fa-download" aria-hidden="true" style="margin-left: 1rem;"></i>
        </button>
    </download-csv>
</div>
