<!--
    For updates to the way this is displayed, go to templates/comparison.html
-->

<comparison on-close-both="fedramp.app.home.agencies">
    <first>
        <agency model="controller.first" on-close="controller.closeFirst" />
    </first>
    <second>
        <agency model="controller.second" on-close="controller.closeSecond" />
    </second>
</comparison>

<!--<div class="usa-content">-->
    <!--<div class="comparison">-->
        <!--<div class="first">-->
            <!--<agency model="controller.first" on-close="controller.closeFirst" />-->
        <!--</div>-->
        <!--<div class="second">-->
            <!--<agency model="controller.second" on-close="controller.closeSecond" />-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
