<grid class="grid" raw-items="controller.assessors" on-update="controller.onUpdate(items, state)">
    <div class="sidebar">
        <grid-filter-clear class="clear-filters"><i class="fa fa-times" aria-hidden="true"></i> Clear All</grid-filter-clear>
        <grid-search id="searchName" property="name" placeholder="Search by name"></grid-search>
        <grid-total></grid-total>
        <grid-filter id="reuseRange" header="Reuse Range" expanded="true" opened="true" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
        <grid-filter id="agencies" property="a in agencies" header="Agencies" expanded="true" opened="false" class="grid-filter"></grid-filter>
        <grid-filter id="products" property="p in products" header="Products" expanded="true" opened="false" class="grid-filter"></grid-filter>
        <grid-filter id="providers" property="p in providers" header="Providers" expanded="true" opened="false" class="grid-filter"></grid-filter>
    </div>
    <div class="grid grid-with-sidebar">
        <div class="fr-grid-layout fr-grid-header">
            <div class="fr-grid-layout-row">
                <div class="fr-grid-cell-name">
                    <grid-sort name="assessorName" property="name" class="grid-sort" header="Name" default="true"></grid-sort>    
                </div>
                <div class="fr-grid-cell-metric">
                    <grid-sort name="reuses" property="reuses" class="grid-sort"></grid-sort>    
                </div>
            </div>
        </div>
        <tile class="row" ng-repeat="item in controller.filteredData track by $index" expand="homeController.expandTiles" model="item"></tile>
        <div class="export">
            <download-csv content="controller.filteredData" ng-if="controller.filteredData">
                <button class="usa-button-secondary">
                    <span>Export to CSV</span>
                    <i class="fa fa-download" aria-hidden="true"></i>
                </button>
            </download-csv>
        </div>
    </div>
    <div class="clear"></div>
</grid>
