<div class="usa-content">
    <div class="fr-dash-header usa-color-primary-darkest">
        <div class="usa-grid-full text-center fr-dash-label">
            <div class="usa-width-one-whole text-center">Products as a glance</div>
        </div>
        <div class="usa-grid-full text-center fr-large-metrics">
            <div class="usa-width-one-third">
                <p class="fr-large-number">
                    <span class="fr-metric-icon icon-ready"></span>
                    <strong>{{homeController.totalAuthorized()}}</strong>
                    <span class="fr-metric-label">Ready</span>
                </p>
            </div>
            <div class="usa-width-one-third">
                <p class="fr-large-number">
                    <span class="fr-metric-icon icon-in-process"></span>
                    <strong>{{homeController.totalAuthorized()}}</strong>
                    <span class="fr-metric-label">In Process</span>
                </p>
            </div>
            <div class="usa-width-one-third">
                <p class="fr-large-number">
                    <span class="fr-metric-icon icon-compliant"></span>
                    <strong>{{homeController.totalAuthorized()}}</strong>
                    <span class="fr-metric-label">Authorized</span>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center fr-filter-label">
        <span class="fr-filter-label-rule"></span>
        <span class="fr-filter-label-text">Filter results by</span>
    </div>
    <div class="fr-filters usa-grid-full">
        <div class="fr-filters-row">
            <div class="usa-width-one-third">
                <button id="filterByCSO"
                        type="radio"
                        ui-sref-active="selected"
                        ui-sref="fedramp.app.home.products">
                    <span>Products</span>
                </button>
            </div>
            <div class="usa-width-one-third">
                <button id="filterByAgency"
                        ui-sref-active="selected"
                        ui-sref="fedramp.app.home.agencies">
                    <span>Agencies</span>
                </button>
            </div>
            <div class="usa-width-one-third">
                <button id="filterBy3PAO"
                        ui-sref-active="selected"
                        ui-sref="fedramp.app.home.assessors">
                    <span>Assessors</span>
                </button>
            </div>
            <div class="controls">
                <label>
                    <input type="checkbox" ng-model="homeController.expandTiles" />
                    <div class="list-view">
                        <span><i class="fa fa-th-list fa-1" aria-hidden="true"></i></span>
                    </div>
                    <div class="grid-view">
                        <span><i class="fa fa-th fa-1" aria-hidden="true"></i></span>
                    </div>
                </label>
            </div>
         </div>
    </div>
</div>
<ui-view/>
