<section class="usa-section usa-section--dark text-center padding-y-3">
    <h1>Fedramp Marketplace</h1>
</section>

<section class="fedramp-glance hidden-print">
    <h2 class="text-center home-glance padding-bottom-2">
        Totals for FedRAMP designation
    </h2>
    <h3 class="text-center" style="padding-bottom: 2rem;">
        For more information on FedRAMP designations, see Marketplace Designations for CSPs [PDF - xxKB].
    </h3>
    <ul class="glance-numbers">
        <li>
            <img src="img/glance-ready.svg" alt="">
            <span>
                <p>Ready</p>
                <p class="number">{{homeController.totalReady()}}</p>
            </span>
        </li>
        <li>
            <img src="img/glance-process.svg" alt="">
            <span>
                <p>In Process</p>
                <p class="number">{{homeController.totalInProcess()}}</p>
            </span>
        </li>
        <li>
            <img src="img/glance-authorized.svg" alt="">
            <span>
                <p>Authorized</p>
                <p class="number">{{homeController.totalAuthorized()}}</p>
            </span>
        </li>
    </ul>
</section>

<div class='grid-wrap-background'>
    <section class='grid-wrap'>
        <menu></menu>
        <ui-view/>
    </section>
</div>
