<section class="usa-section usa-section--dark text-center padding-y-3">
    <h1>Fedramp Marketplace</h1>
</section>

<section class="fedramp-glance hidden-print">
    <h2 class="text-center home-glance padding-bottom-2">
        Totals for FedRAMP Designation
    </h2>
    <p class="text-center" style="padding-bottom: 2rem;">
        For more information on FedRAMP designations, see <a href="https://www.fedramp.gov/assets/resources/documents/CSP_Continuous_Monitoring_Performance_Management_Guide.pdf" target="_blank">Marketplace Designations for CSPs [PDF - 652KB]</a>.
    </p>
    <ul class="glance-numbers">
        <li>
            <img src="img/glance-ready.svg" alt="">
            <span>
                <p>Ready</p>
                <p class="number">{{homeController.totalReady()}}</p>
            </span>
        </li>
        <li>
            <img src="img/glance-process.svg" alt="">
            <span>
                <p>In Process</p>
                <p class="number">{{homeController.totalInProcess()}}</p>
            </span>
        </li>
        <li>
            <img src="img/glance-authorized.svg" alt="">
            <span>
                <p>Authorized</p>
                <p class="number">{{homeController.totalAuthorized()}}</p>
            </span>
        </li>
    </ul>
</section>

<div class='grid-wrap-background'>
    <section class='fr-selection padding-top-8 padding-bottom-5'>
        <div class="grid-container text-center">
            <h2>Marketplace Sorted by Product</h2>
            <p class="padding-bottom-2">The FedRAMP Marketplace provides a searchable, sortable database of CSOs that have achieved a FedRAMP designation. Accredited auditors that can perform the FedRAMP assessment, known as 3PAOs, are listed within the Marketplace.</p>
            <h3 class="padding-bottom-1">Click button to sort Marketplace by:</h3>
            <menu></menu>
        </div>
    </section>
    <section class='grid-wrap'>
        <ui-view/>
    </section>
</div>
