<div class="usa-content">
    <div class="comparison">
        <div class="first full-width-print">
            <product model="controller.item" products="controller.items" on-close="controller.close" />
        </div>
        <div class="second comparison-list hidden-print">
            <div ng-show="controller.items.length > 0">
                <div class="text-center fr-filter-label">
                    <span class="fr-filter-label-rule"></span>
                    <span class="fr-filter-label-text">Select another to compare</span>
                </div>
                <products-grid raw-items="controller.items" hide-filters="true"></products-grid>
            </div>
        </div>
    </div>
</div>
