<div class="usa-content">
    <div class="comparison">
        <div class="first">
            <product model="controller.item" products="controller.items" on-close="controller.close" />
        </div>
        <div class="second comparison-list">
            <div ng-show="controller.items.length > 0">
                <div class="text-center fr-filter-label">
                    <span class="fr-filter-label-rule"></span>
                    <span class="fr-filter-label-text">Select another to compare</span>
                </div>
                <grid class="grid" raw-items="controller.items" on-update="controller.onUpdate(items, state)">
                    <div class="hidden">
                        <grid-search id="productNameSearch" placeholder="Search by Provider or Product" filter-func="controller.search"></grid-search>
                        <grid-filter id="designation" property="designation" header="Status" expanded="true" opened="true" class="grid-filter"></grid-filter>
                        <grid-filter id="reuseRange" header="Reuse Range" expanded="true" opened="false" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
                        <grid-filter id="serviceModels" property="s in serviceModels" header="Service Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="deploymentModels" property="deploymentModel" header="Deployment Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="agencies" property="a in agencies" header="Agencies" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="impactLevel" property="impactLevel" header="Impact Level" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="providers" property="provider" header="Providers" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-sort name="productName" property="provider,name" class="grid-sort"></grid-sort>
                        <grid-sort name="serviceModels" property="serviceModels" class="grid-sort"></grid-sort>
                        <grid-sort name="deploymentModel" property="deploymentModel" class="grid-sort"></grid-sort>
                        <grid-sort name="impactLevel" property="impactLevel" class="grid-sort"></grid-sort>
                        <grid-sort name="designation" property="designation" class="grid-sort"></grid-sort>
                        <grid-sort name="reuses" property="reuses" default="-true" class="grid-sort"></grid-sort>
                    </div>
                    <tile ng-repeat="item in controller.filteredData" expand="true" model="item"></tile>
                </grid>
            </div>
        </div>
    </div>
</div>
