<div class="usa-content">
    <div class="comparison">
        <div class="first full-width-print">
            <provider model="controller.item" on-close="controller.close" />
        </div>
        <div class="second comparison-list hidden-print">
            <div ng-show="controller.items.length > 0">
                <div class="text-center fr-filter-label">
                    <span class="fr-filter-label-rule"></span>
                    <span class="fr-filter-label-text">Select another to compare</span>
                </div>
                <grid class="grid" raw-items="controller.items" on-update="controller.onUpdate(items, state)">
                    <div class="hidden">
                        <grid-search id="searchName" property="name" placeholder="Search by Provider Name"></grid-search>
                        <grid-filter id="designations" property="d in designations" header="Status" expanded="true" opened="true" class="grid-filter"></grid-filter>
                        <grid-filter id="reuseRange" header="Reuse Range" expanded="true" opened="false" options-func="controller.reuseRangeOptions" filter-func="controller.reuseRangeFilter" class="grid-filter"></grid-filter>
                        <grid-filter id="serviceModels" property="s in serviceModels" header="Service Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="deploymentModels" property="d in deploymentModels" header="Deployment Models" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-filter id="products" property="p.name in products" header="Products" expanded="true" opened="false" class="grid-filter"></grid-filter>
                        <grid-sort name="provider" property="name" header="Name" class="grid-sort" default="true"></grid-sort>          
                        <grid-sort name="serviceModels" property="serviceModels" header="Service Models" class="grid-sort"></grid-sort>    
                        <grid-sort name="reuses" property="reuses" class="grid-sort"></grid-sort>    
                    </div>
                    <tile ng-repeat="item in controller.filteredData track by $index" expand="true" model="item"></tile>
                </grid>
            </div>
        </div>
    </div>
</div>
